@inject UserAuthenticationStateProvider AuthService
@inject APIHttpClient APIHttpClient
@inject TextService TextService
@inherits ElementComponent

@if (IsRendered && PageLoadingService.IsLoading)
{
    <Loader Loading="true"/>
}

<div @attributes="AdditionalAttributes" class="@CssClass" loading="@PageLoadingService.IsLoading">
    <div class="header">
        <div class="logo">
            <NavLink href="/">
                <h1>
                    @TextService.Get(TextConstants.Title)
                </h1>
            </NavLink>
        </div>
        <div class="navigation">
            <NavLink href="/Schema">
                @TextService.Get(TextConstants.LinkNavigationSchema)
            </NavLink>

            @foreach (ViewModelSchemaContext item in _listContext)
            {
                <NavLink href="@GetLink(item)">@item.Title</NavLink>
            }
        </div>
        <div class="account">
            @if (AuthService.Identity != null)
            {
                <Button @onclick="SignOut">
                    @TextService.Get(TextConstants.ButtonSignOut)
                </Button>
            }
        </div>
    </div>
    <main class="content">
        @ChildContent
    </main>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private ViewModelSchemaContext[] _listContext = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender) return;

        LoadAfterRender(LoadData);
    }

    private async Task LoadData()
    {
        _listContext = await APIHttpClient.SendRequest<ViewModelSchemaContext[]>(HttpMethod.Get, "Data/Context");
    }

    private static string GetLink(ViewModelSchemaContext context)
    {
        return $"/Context/{context.SchemaIdentifier}";
    }

    private async void SignOut()
    {
        try
        {
            await AuthService.ResetIdentity();
        }
        catch (Exception)
        {
            // ignored
        }
    }

}