@inherits BaseRequestForm<RequestSchemaElementUpdate, ResponseSchemaElementUpdate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaElementUpdate" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.SchemaIdentifier))" Description="@GetDescription(nameof(Model.SchemaIdentifier))" @bind-Value="Model.SchemaIdentifier"/>

        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Name))" Description="@GetDescription(nameof(Model.Name))" @bind-Value="Model.Name"/>

        <InputGroupTextArea DisplayName="@GetDisplayName(nameof(Model.Note))" Description="@GetDescription(nameof(Model.Note))" @bind-Value="Model.Note"/>

        <InputGroupInteger DisplayName="@GetDisplayName(nameof(Model.Weight))" Description="@GetDescription(nameof(Model.Weight))" @bind-Value="Model.Weight"/>

        <InputGroupAutosuggestTextParameter Name="@nameof(Model.TitleParameterTextID)" DisplayName="@GetDisplayName(nameof(Model.TitleParameterTextID))" Description="@GetDescription(nameof(Model.TitleParameterTextID))"
                                            @bind-Value:get="GetValueTitle()" @bind-Value:set="SetValueTitle"/>

        <InputGroupAutosuggestTextParameter Name="@nameof(Model.DescriptionParameterTextID)" DisplayName="@GetDisplayName(nameof(Model.DescriptionParameterTextID))" Description="@GetDescription(nameof(Model.DescriptionParameterTextID))"
                                            @bind-Value:get="GetValueDescription()" @bind-Value:set="SetValueDescription"/>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchemaElement SchemaElement { get; set; }

    private EntitySchemaParameterText? _valueTitle;
    private EntitySchemaParameterText? _valueDescription;

    protected override WebFormContext<RequestSchemaElementUpdate> CreateContext()
    {
        _valueTitle = SchemaElement.TitleTextParameter;
        _valueDescription = SchemaElement.DescriptionTextParameter;
        return new(new()
        {
                ID = SchemaElement.ID,
                SchemaIdentifier = SchemaElement.SchemaIdentifier,
                Name = SchemaElement.Name,
                Note = SchemaElement.Note,
                TitleParameterTextID = SchemaElement.TitleTextParameterID,
                DescriptionParameterTextID = SchemaElement.DescriptionTextParameterID,
        });
    }

    private EntitySchemaParameterText? GetValueTitle() => _valueTitle?.ID == Model.TitleParameterTextID ? _valueTitle : null;
    private void SetValueTitle(EntitySchemaParameterText? obj) => Model.TitleParameterTextID = (_valueTitle = obj)?.ID ?? Guid.Empty;

    private EntitySchemaParameterText? GetValueDescription() => _valueDescription?.ID == Model.DescriptionParameterTextID ? _valueDescription : null;
    private void SetValueDescription(EntitySchemaParameterText? obj) => Model.DescriptionParameterTextID = (_valueDescription = obj)?.ID ?? Guid.Empty;

}
