@inject IState<FeatureSchemaElementState> StateContext
@inject IDispatcher Dispatcher
@inject TextParameterService TextParameterService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible Loading="IsLoading" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Element list</DynamicHTMLTag>
        </Header>
        <Content>
            <Table class="grid" List="List">
                <TableHeader>
                    <strong>@TextParameterService.Get(ParameterTextConstants.LabelSchemaIdentifier)</strong>
                    <strong>@TextParameterService.Get(ParameterTextConstants.LabelName)</strong>
                    <strong>@TextParameterService.Get(ParameterTextConstants.LabelNote)</strong>
                    <strong>@TextParameterService.Get(ParameterTextConstants.LabelTimeCreated)</strong>
                </TableHeader>
                <TableRow>
                    <span>@context.SchemaIdentifier</span>
                    <span>@context.Name</span>
                    <span>@context.Note</span>
                    <span>@context.TimeCreated</span>
                </TableRow>
            </Table>
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchema Schema { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{GetComponentName()}:{Schema.ID}";

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H4;

    private bool _isCollapsed = true;

    private bool IsLoading => StateContext.Value.TryGetLoading(ScopeCurrent, FeatureSchemaElementActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaElement> List => StateContext.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaElement>? value) ? value : [];

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;
        if (!_isCollapsed && !StateContext.Value.List.ContainsKey(ScopeCurrent) && !IsLoading)
        {
            Dispatcher.Dispatch(new FeatureSchemaElementReducers.ListAction(ScopeCurrent, new() { SchemaID = Schema.ID }));
        }
    }

}
