@inject IState<FeatureSchemaContextState> StateContext
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible Loading="IsLoading" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Context list</DynamicHTMLTag>
        </Header>
        <Content>
            <div class="grid">
                <div class="grid-header">
                    <strong>Name</strong>
                    <strong>Note</strong>
                    <strong>Schema Identifier</strong>
                    <strong>Title</strong>
                    <strong>Description</strong>
                    <strong>Created at</strong>
                </div>

                @foreach (EntitySchemaContext item in List)
                {
                    <div class="grid-row">
                        <span>@item.Name</span>
                        <span>@item.Note</span>
                        <span>@item.SchemaIdentifier</span>
                        <span>@item.TitleTextParameter?.Name</span>
                        <span>@item.DescriptionTextParameter?.Name</span>
                        <span>@item.TimeCreated</span>
                    </div>
                }
            </div>
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchema Schema { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{GetComponentName()}:{Schema.ID}";

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H4;

    private bool _isCollapsed = true;

    private bool IsLoading => StateContext.Value.TryGetLoading(ScopeCurrent, FeatureSchemaContextActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaContext> List => StateContext.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaContext>? value) ? value : [];

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;
        if (!_isCollapsed && !StateContext.Value.List.ContainsKey(ScopeCurrent) && !IsLoading)
        {
            Dispatcher.Dispatch(new FeatureSchemaContextReducers.ListAction(ScopeCurrent, new() { SchemaID = Schema.ID }));
        }
    }

}
