@inherits BaseRequestForm<RequestSchemaPropertyList, ResponseSchemaPropertyList>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaPropertyList" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Search))" Description="@GetDescription(nameof(Model.Search))"
                        @bind-Value="Model.Search"/>

        <InputGroupCheckboxSet OptionList="ListTypeKey" DisplayName="@GetDisplayName(nameof(Model.PropertyType))" Description="@GetDescription(nameof(Model.PropertyType))"
                               @bind-Value:get="GetPropertyType()" @bind-Value:set="SetPropertyType">
            <span>@TextService.Get(_collectionType[context.Option])</span>
        </InputGroupCheckboxSet>

        <InputGroupSelectSorting OptionSet="_sortOptionSet" Name="@nameof(Model.Sorting)" DisplayName="@GetDisplayName(nameof(Model.Sorting))" Description="@GetDescription(nameof(Model.Sorting))" @bind-Value="@Model.Sorting"/>

        <InputGroupSelectPageSize DisplayName="@GetDisplayName(nameof(Model.PageSize))" Description="@GetDescription(nameof(Model.PageSize))" @bind-Value="Model.PageSize"/>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    private readonly Dictionary<string, string> _collectionType = new()
    {
        { nameof(EntitySchemaPropertyBoolean), TextConstants.LabelPropertyBoolean },
        { nameof(EntitySchemaPropertyDateTime), TextConstants.LabelPropertyDateTime },
        { nameof(EntitySchemaPropertyDecimal), TextConstants.LabelPropertyDecimal },
        { nameof(EntitySchemaPropertyImage), TextConstants.LabelPropertyImage },
        { nameof(EntitySchemaPropertyInteger), TextConstants.LabelPropertyInteger },
        { nameof(EntitySchemaPropertyString), TextConstants.LabelPropertyString },
    };

    private readonly Dictionary<string, string> _sortOptionSet = new()
    {
            { nameof(EntitySchemaElement.ID), TextConstants.LabelID },
            { nameof(EntitySchemaElement.Name), TextConstants.LabelName },
            { nameof(EntitySchemaElement.Weight), TextConstants.LabelWeight },
            { nameof(EntitySchemaElement.TimeCreated), TextConstants.LabelTimeCreated },
    };

    private HashSet<string> ListTypeKey => _collectionType.Select(x => x.Key).ToHashSet();

    protected override WebFormContext<RequestSchemaPropertyList> CreateContext()
    {
        return new(new() { SchemaID = SchemaID, SortColumn = nameof(EntitySchemaProperty.Name), SortDirection = ListSortDirection.Descending });
    }

    private HashSet<string> GetPropertyType()
    {
        return Model.PropertyType ?? [];
    }

    private void SetPropertyType(HashSet<string>? value)
    {
        Model.PropertyType = value;
    }

}
