@inherits BaseRequestForm<RequestSchemaPropertyDateTimeUpdate, ResponseSchemaPropertyDateTimeUpdate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaPropertyDateTimeUpdate" Context="Context" ResetAfterSubmit="false" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.SchemaIdentifier))" Description="@GetDescription(nameof(Model.SchemaIdentifier))" @bind-Value="Model.SchemaIdentifier"/>

        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Name))" Description="@GetDescription(nameof(Model.Name))" @bind-Value="Model.Name"/>

        <InputGroupTextArea DisplayName="@GetDisplayName(nameof(Model.Note))" Description="@GetDescription(nameof(Model.Note))" @bind-Value="Model.Note"/>

        <InputGroupSelect OptionList="ListType" DisplayName="@GetDisplayName(nameof(Model.Type))" Description="@GetDescription(nameof(Model.Type))"
                          Name="@nameof(Model.Type)" @bind-Value="Model.Type">
            <span>@TextParameterService.Get(_collectionType[context])</span>
        </InputGroupSelect>

        <InputGroupInteger DisplayName="@GetDisplayName(nameof(Model.Weight))" Description="@GetDescription(nameof(Model.Weight))" @bind-Value="Model.Weight"/>

        <InputGroupAutosuggestTextParameter Name="@nameof(Model.TitleParameterTextID)" DisplayName="@GetDisplayName(nameof(Model.TitleParameterTextID))" Description="@GetDescription(nameof(Model.TitleParameterTextID))"
                                            SchemaID="SchemaID" @bind-Value:get="GetValueTitle()" @bind-Value:set="SetValueTitle"/>

        <InputGroupAutosuggestTextParameter Name="@nameof(Model.DescriptionParameterTextID)" DisplayName="@GetDisplayName(nameof(Model.DescriptionParameterTextID))" Description="@GetDescription(nameof(Model.DescriptionParameterTextID))"
                                            SchemaID="SchemaID" @bind-Value:get="GetValueDescription()" @bind-Value:set="SetValueDescription"/>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    [Parameter, EditorRequired]
    public EntitySchemaPropertyDateTime SchemaProperty { get; set; }

    private EntitySchemaParameterText? _valueTitle;
    private EntitySchemaParameterText? _valueDescription;

    private readonly Dictionary<DateTimeTypeEnum, string> _collectionType = new()
    {
            { DateTimeTypeEnum.Time, ParameterTextConstants.ValuePropertyDateTimeTypeTime },
            { DateTimeTypeEnum.Date, ParameterTextConstants.ValuePropertyDateTimeTypeDate },
            { DateTimeTypeEnum.DateAndTime, ParameterTextConstants.ValuePropertyDateTimeTypeDateTime },
    };

    private HashSet<DateTimeTypeEnum> ListType => _collectionType.Select(x => x.Key).ToHashSet();

    private EntitySchemaParameterText? GetValueTitle() => _valueTitle?.ID == Model.TitleParameterTextID ? _valueTitle : null;
    private void SetValueTitle(EntitySchemaParameterText? obj) => Model.TitleParameterTextID = (_valueTitle = obj)?.ID ?? Guid.Empty;

    private EntitySchemaParameterText? GetValueDescription() => _valueDescription?.ID == Model.DescriptionParameterTextID ? _valueDescription : null;
    private void SetValueDescription(EntitySchemaParameterText? obj) => Model.DescriptionParameterTextID = (_valueDescription = obj)?.ID ?? Guid.Empty;

    protected override WebFormContext<RequestSchemaPropertyDateTimeUpdate> CreateContext()
    {
        return new(new()
        {
                ID = SchemaProperty.ID,
                SchemaIdentifier = SchemaProperty.SchemaIdentifier,
                Name = SchemaProperty.Name,
                Note = SchemaProperty.Note,
                Type = SchemaProperty.Type,
                Weight = SchemaProperty.Weight,
                TitleParameterTextID = SchemaProperty.TitleParameterTextID,
                DescriptionParameterTextID = SchemaProperty.DescriptionParameterTextID,
        });
    }

}
