@inherits BaseRequestForm<RequestDataCreateStyleParameter, ResponseDataCreateStyleParameter>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestDataCreateStyleParameter" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Value))" Description="@GetDescription(nameof(Model.Value))"
                        @bind-Value="Context.Model.Value"/>

        <InputGroupRadioSet OptionList="OptionList" DisplayName="@GetDisplayName(nameof(Model.DateEffective))" Description="@GetDescription(nameof(Model.DateEffective))"
                            @bind-Value:get="_effectiveDateImmediate" @bind-Value:set="SetEffectiveDateImmediate">
            @if (context)
            {
                <span>Immediately</span>
            }
            else
            {
                <InputGroupDate InputAttributes="GetEffectiveDateImmediateAttributes()" DisplayName="Pick date" @bind-Value:get="_effectiveDatePicked" @bind-Value:set="SetEffectiveDatePicked"/>
            }
        </InputGroupRadioSet>

        @ChildContent
    </WebForm>
</div>


@code {

    [Parameter, EditorRequired]
    public EntitySchemaParameterStyle SchemaParameter { get; set; }

    private static bool[] OptionList => [true, false];
    private bool _effectiveDateImmediate = true;
    private DateTime? _effectiveDatePicked = DateTime.Now;

    protected override WebFormContext<RequestDataCreateStyleParameter> CreateContext()
    {
        return new(new() { SchemaIdentifier = SchemaParameter.SchemaIdentifier });
    }

    private void SetEffectiveDatePicked(DateTime? value)
    {
        _effectiveDatePicked = value;
        Context.Model.DateEffective = _effectiveDatePicked;
    }

    private void SetEffectiveDateImmediate(bool value)
    {
        _effectiveDateImmediate = value;
        Context.Model.DateEffective = value ? null : _effectiveDatePicked;
    }

    private IReadOnlyDictionary<string, object>? GetEffectiveDateImmediateAttributes()
    {
        return new Dictionary<string, object> { { "disabled", _effectiveDateImmediate } };
    }

}

