@using Noxy.NET.EntityManagement.Domain.Requests.Data
@inherits Noxy.NET.EntityManagement.Presentation.Abstractions.BaseRequestForm<Noxy.NET.EntityManagement.Domain.Requests.Data.RequestDataParameterStyleCreate, Noxy.NET.EntityManagement.Domain.Responses.Data.ResponseDataParameterStyleCreate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestDataParameterStyleCreate" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Value))" Description="@GetDescription(nameof(Model.Value))"
                        @bind-Value="Context.Model.Value"/>

        <InputGroupRadioSet OptionList="OptionList" DisplayName="@GetDisplayName(nameof(Model.TimeEffective))" Description="@GetDescription(nameof(Model.TimeEffective))"
                            @bind-Value:get="_effectiveDateImmediate" @bind-Value:set="SetEffectiveDateImmediate">
            @if (context)
            {
                <span>Immediately</span>
            }
            else
            {
                <InputGroupDate InputAttributes="GetEffectiveDateImmediateAttributes()" DisplayName="Pick date" @bind-Value:get="_effectiveDatePicked" @bind-Value:set="SetEffectiveDatePicked"/>
            }
        </InputGroupRadioSet>

        @ChildContent
    </WebForm>
</div>


@code {

    [Parameter, EditorRequired]
    public EntitySchemaParameterStyle SchemaParameter { get; set; }

    private static bool[] OptionList => [true, false];
    private bool _effectiveDateImmediate = true;
    private DateTime? _effectiveDatePicked = DateTime.UtcNow;

    protected override WebFormContext<RequestDataParameterStyleCreate> CreateContext()
    {
        return new(new() { SchemaIdentifier = SchemaParameter.SchemaIdentifier });
    }

    private void SetEffectiveDatePicked(DateTime? value)
    {
        _effectiveDatePicked = value;
        Context.Model.TimeEffective = _effectiveDatePicked;
    }

    private void SetEffectiveDateImmediate(bool value)
    {
        _effectiveDateImmediate = value;
        Context.Model.TimeEffective = value ? null : _effectiveDatePicked;
    }

    private IReadOnlyDictionary<string, object>? GetEffectiveDateImmediateAttributes()
    {
        return new Dictionary<string, object> { { "disabled", _effectiveDateImmediate } };
    }

}

