@inherits BaseRequestForm<RequestSchemaParameterList, ResponseSchemaParameterList>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaParameterList" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Search))" Description="@GetDescription(nameof(Model.Search))"
                        @bind-Value="Context.Model.Search"/>

        <InputGroupSelect OptionList="ListIsSystemDefinedKey" DisplayName="@GetDisplayName(nameof(Model.IsSystemDefined))" Description="@GetDescription(nameof(Model.IsSystemDefined))"
                          Name="@nameof(Model.IsSystemDefined)" @bind-Value:get="GetIsSystemDefined()" @bind-Value:set="SetIsSystemDefined">
            <span>@_collectionIsSystemDefined[context]</span>
        </InputGroupSelect>

        <InputGroupSelect OptionList="ListIsApprovalRequiredKey" DisplayName="@GetDisplayName(nameof(Model.IsApprovalRequired))" Description="@GetDescription(nameof(Model.IsApprovalRequired))"
                          Name="@nameof(Model.IsApprovalRequired)" @bind-Value:get="GetIsApprovalRequired()" @bind-Value:set="SetIsApprovalRequired">
            <span>@_collectionIsApprovalRequired[context]</span>
        </InputGroupSelect>

        <InputGroupCheckboxSet OptionList="ListTypeKey" DisplayName="@GetDisplayName(nameof(Model.ParameterType))" Description="@GetDescription(nameof(Model.ParameterType))"
                               @bind-Value:get="GetParameterType()" @bind-Value:set="SetParameterType">
            <span>@TextService.Get(_collectionType[context])</span>
        </InputGroupCheckboxSet>

        @ChildContent
    </WebForm>
</div>

@code {

    private readonly Dictionary<int, string> _collectionIsSystemDefined = [];
    private readonly Dictionary<int, string> _collectionIsApprovalRequired = [];
    private readonly Dictionary<string, string> _collectionType = [];

    private IEnumerable<int> ListIsSystemDefinedKey => _collectionIsSystemDefined.Select(x => x.Key);
    private IEnumerable<int> ListIsApprovalRequiredKey => _collectionIsApprovalRequired.Select(x => x.Key);
    private IEnumerable<string> ListTypeKey => _collectionType.Select(x => x.Key);

    protected override async Task OnAfterFirstRenderAsync()
    {
        await base.OnAfterFirstRenderAsync();

        _collectionIsSystemDefined[-1] = "Either";
        _collectionIsSystemDefined[0] = "System defined";
        _collectionIsSystemDefined[1] = "User defined";

        _collectionIsApprovalRequired[-1] = "Either";
        _collectionIsApprovalRequired[0] = "With approval required";
        _collectionIsApprovalRequired[1] = "Without approval required";

        _collectionType[nameof(EntitySchemaParameterStyle)] = TextConstants.LabelParameterStyle;
        _collectionType[nameof(EntitySchemaParameterSystem)] = TextConstants.LabelParameterSystem;
        _collectionType[nameof(EntitySchemaParameterText)] = TextConstants.LabelParameterText;
    }

    private int GetIsSystemDefined()
    {
        return Model.IsSystemDefined switch
        {
            true => 1,
            false => 0,
            _ => -1
        };
    }

    private void SetIsSystemDefined(int value)
    {
        Model.IsSystemDefined = value == -1 ? null : value == 1;
    }

    private int GetIsApprovalRequired()
    {
        return Model.IsApprovalRequired switch
        {
            true => 1,
            false => 0,
            _ => -1
        };
    }

    private void SetIsApprovalRequired(int value)
    {
        Model.IsApprovalRequired = value == -1 ? null : value == 1;
    }

    private IEnumerable<string> GetParameterType()
    {
        return Model.ParameterType ?? [];
    }

    private void SetParameterType(IEnumerable<string>? value)
    {
        Model.ParameterType = value;
    }

    protected override WebFormContext<RequestSchemaParameterList> CreateContext()
    {
        return new(new());
    }

}
