@using System.Globalization
@inherits BaseRequestForm<RequestDataParameterTextCreate, ResponseDataParameterTextCreate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestDataParameterTextCreate" Context="Context" OnSubmit="ForwardSubmit">
        @switch (SchemaParameter.Type)
        {
            case TextParameterTypeEnum.Line:
                <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Value))" Description="@GetDescription(nameof(Model.Value))"
                                @bind-Value="Context.Model.Value"/>
                break;
            case TextParameterTypeEnum.Text:
            case TextParameterTypeEnum.RichText:
                <InputGroupTextArea @bind-Value="Context.Model.Value"/>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }

        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Culture))" Description="@GetDescription(nameof(Model.Culture))"
                        @bind-Value="Context.Model.Culture"/>

        <InputGroupRadioSet OptionList="OptionList" DisplayName="@GetDisplayName(nameof(Model.TimeEffective))" Description="@GetDescription(nameof(Model.TimeEffective))"
                            @bind-Value:get="_effectiveDateImmediate" @bind-Value:set="SetEffectiveDateImmediate">
            @if (context)
            {
                <span>Immediately</span>
            }
            else
            {
                <InputGroupDate InputAttributes="GetEffectiveDateImmediateAttributes()" DisplayName="Pick date" @bind-Value:get="_effectiveDatePicked" @bind-Value:set="SetEffectiveDatePicked"/>
            }
        </InputGroupRadioSet>

        @ChildContent
    </WebForm>
</div>


@code {

    [Parameter, EditorRequired]
    public EntitySchemaParameterText SchemaParameter { get; set; }

    private static bool[] OptionList => [true, false];
    private bool _effectiveDateImmediate = true;
    private DateTime? _effectiveDatePicked = DateTime.UtcNow;

    protected override WebFormContext<RequestDataParameterTextCreate> CreateContext()
    {
        return new(new() { SchemaIdentifier = SchemaParameter.SchemaIdentifier, Culture = CultureInfo.CurrentUICulture.Name });
    }

    private void SetEffectiveDatePicked(DateTime? value)
    {
        _effectiveDatePicked = value;
        Context.Model.TimeEffective = _effectiveDatePicked;
    }

    private void SetEffectiveDateImmediate(bool value)
    {
        _effectiveDateImmediate = value;
        Context.Model.TimeEffective = value ? null : _effectiveDatePicked;
    }

    private IReadOnlyDictionary<string, object>? GetEffectiveDateImmediateAttributes()
    {
        return new Dictionary<string, object> { { "disabled", _effectiveDateImmediate } };
    }

}

