@inherits BaseRequestForm<RequestDataParameterTextCreate, ResponseDataParameterTextCreate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestDataParameterTextCreate" Context="Context" OnSubmit="ForwardSubmit">
        @switch (SchemaParameter.Type)
        {
            case ParameterTextTypeEnum.Line:
                <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Value))" Description="@GetDescription(nameof(Model.Value))"
                                @bind-Value="Model.Value"/>
                break;
            case ParameterTextTypeEnum.Text:
            case ParameterTextTypeEnum.RichText:
                <InputGroupTextArea @bind-Value="Model.Value"/>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }

        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Culture))" Description="@GetDescription(nameof(Model.Culture))"
                        @bind-Value="Model.Culture"/>

        <InputGroupRadioSet OptionList="IsScheduledOptions" Name="@nameof(Model.TimeEffective)" DisplayName="@GetDisplayName(nameof(Model.TimeEffective))" Description="@GetDescription(nameof(Model.TimeEffective))"
                            @bind-Value:get="GetIsScheduled()" @bind-Value:set="SetIsScheduled">
            @if (!context.Option)
            {
                <span>Immediately</span>
            }
            else
            {
                <span>Pick a future date</span>
            }
        </InputGroupRadioSet>

        @if (Model.TimeEffective.HasValue)
        {
            <InputGroupDate DisplayName="Pick effective date" @bind-Value="Model.TimeEffective"/>
        }

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchemaParameterText SchemaParameter { get; set; }

    private static readonly HashSet<bool> IsScheduledOptions = [false, true];

    private bool GetIsScheduled()
    {
        return Model.TimeEffective.HasValue;
    }

    private void SetIsScheduled(bool value)
    {
        if (value)
        {
            Model.TimeEffective ??= DateTime.Now.AddDays(1);
        }
        else
        {
            Model.TimeEffective = null;
        }
    }

    protected override WebFormContext<RequestDataParameterTextCreate> CreateContext()
    {
        return new(new() { SchemaIdentifier = SchemaParameter.SchemaIdentifier, Culture = CultureInfo.CurrentUICulture.Name });
    }

}
