@inherits BaseRequestForm<RequestDataParameterStyleCreate, ResponseDataParameterStyleCreate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestDataParameterStyleCreate" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Value))" Description="@GetDescription(nameof(Model.Value))"
                        @bind-Value="Model.Value"/>

        <InputGroupRadioSet OptionList="OptionSet" DisplayName="@GetDisplayName(nameof(Model.TimeEffective))" Description="@GetDescription(nameof(Model.TimeEffective))"
                            @bind-Value="Model.TimeEffective">
            @if (context == null)
            {
                <span>Immediately</span>
            }
            else
            {
                <span>Pick a future date</span>
            }
        </InputGroupRadioSet>

        @if (Model.TimeEffective != null)
        {
            <InputGroupDate DisplayName="Pick effective date" @bind-Value:get="_optionList[1]" @bind-Value:set="SetEffectiveDatePicked"/>
        }

        @ChildContent
    </WebForm>
</div>


@code {

    [Parameter, EditorRequired]
    public EntitySchemaParameterStyle SchemaParameter { get; set; }

    private readonly List<DateTime?> _optionList = [null, DateTime.Now.AddDays(1)];
    private HashSet<DateTime?> OptionSet => _optionList.ToHashSet();

    protected override WebFormContext<RequestDataParameterStyleCreate> CreateContext()
    {
        return new(new() { SchemaIdentifier = SchemaParameter.SchemaIdentifier });
    }

    private void SetEffectiveDatePicked(DateTime? value)
    {
        Model.TimeEffective = _optionList[1] = value;
    }

}
