@inherits BaseRequestForm<RequestDataParameterTextCreate, ResponseDataParameterTextCreate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestDataParameterTextCreate" Context="Context" OnSubmit="ForwardSubmit">
        @switch (SchemaParameter.Type)
        {
            case TextParameterTypeEnum.Line:
                <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Value))" Description="@GetDescription(nameof(Model.Value))"
                                @bind-Value="Model.Value"/>
                break;
            case TextParameterTypeEnum.Text:
            case TextParameterTypeEnum.RichText:
                <InputGroupTextArea @bind-Value="Model.Value"/>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }

        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Culture))" Description="@GetDescription(nameof(Model.Culture))"
                        @bind-Value="Model.Culture"/>

        <InputGroupRadioSet OptionList="OptionSet" DisplayName="@GetDisplayName(nameof(Model.TimeEffective))" Description="@GetDescription(nameof(Model.TimeEffective))"
                            @bind-Value="Model.TimeEffective">
            @if (context == null)
            {
                <span>Immediately</span>
            }
            else
            {
                <span>Pick a future date</span>
            }
        </InputGroupRadioSet>

        @if (Model.TimeEffective != null)
        {
            <InputGroupDate DisplayName="Pick effective date" @bind-Value:get="_optionList[1]" @bind-Value:set="SetEffectiveDatePicked"/>
        }

        @ChildContent
    </WebForm>
</div>


@code {

    [Parameter, EditorRequired]
    public EntitySchemaParameterText SchemaParameter { get; set; }

    private readonly List<DateTime?> _optionList = [null, DateTime.Now.AddDays(1)];
    private HashSet<DateTime?> OptionSet => _optionList.ToHashSet();

    protected override WebFormContext<RequestDataParameterTextCreate> CreateContext()
    {
        return new(new() { SchemaIdentifier = SchemaParameter.SchemaIdentifier, Culture = CultureInfo.CurrentUICulture.Name });
    }

    private void SetEffectiveDatePicked(DateTime? value)
    {
        Model.TimeEffective = _optionList[1] = value;
    }

}

