@inherits BaseInputGroup<TOption>
@typeparam TOption

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@UUIDCode" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementSelect @attributes="InputAttributes" TOption="TOption" ID="@IDCurrent" Name="@GetName()" OptionList="OptionList" ChildContent="ChildContent"
                            Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">
        </InputElementSelect>
        @ChildContent
    </TemplateInputGroup>
</div>

@code {

    [Parameter, EditorRequired]
    public RenderFragment<TOption?> ChildContent { get; set; }

    [Parameter, EditorRequired]
    public HashSet<TOption> OptionList { get; set; }

} 
