@inherits BaseInputGroupValue<DateTime?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@UUIDCode" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementDate @attributes="InputAttributes" ID="@UUIDCode" Value="@Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression"/>
    </TemplateInputGroup>
</div>

@code {

}

