@inherits BaseInputGroup<TValue>
@typeparam TOption
@typeparam TValue where TValue : ISet<TOption>, new()

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementCheckboxSet @attributes="InputAttributes" Name="@GetName()" OptionList="OptionList" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">
            <ChildContent>
                @ChildContent(context)
            </ChildContent>
            <Control>
                @if (Control != null)
                {
                    @Control(context)
                }
                else
                {
                    <InputVisualCheckbox Checked="IsChecked(context.Option)"/>
                    <InputElementCheckbox ID="@context.ID" Name="@context.Name" Option="@context.Option" OnChange="x => context.OnChange(x, context.Option)"/>
                }
            </Control>
        </InputElementCheckboxSet>
    </TemplateInputGroup>
</div>

@code {

    [Parameter, EditorRequired]
    public HashSet<TOption> OptionList { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<InputElementCheckboxSetScope<TOption>> ChildContent { get; set; }

    [Parameter]
    public RenderFragment<InputElementCheckboxSetScope<TOption>>? Control { get; set; }

    private bool IsChecked(TOption option) => Value?.Contains(option) == true;

}
