@inherits BaseInputGroup<TValueList>
@typeparam TValue
@typeparam TValueList where TValueList : ISet<TValue>, new()

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementCheckboxSet @attributes="InputAttributes" class="input" Name="@GetName()" OptionList="OptionList" OptionAttributes="OptionAttributes"
                                 Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">

            <div class="control">
                <IconChevronDown Size="IconSizeEnum.ExtraSmall"/>
            </div>

            @ChildContent(context)
        </InputElementCheckboxSet>
    </TemplateInputGroup>
</div>

@code {

    [Parameter, EditorRequired]
    public required RenderFragment<TValue> ChildContent { get; set; }

    [Parameter, EditorRequired]
    public required HashSet<TValue> OptionList { get; set; }

    [Parameter]
    public Func<TValue, IReadOnlyDictionary<string, object>?>? OptionAttributes { get; set; }

}
