@inherits BaseInputGroup<TValue>
@typeparam TValue

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@UUIDCode" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <div class="select-wrapper">
            <InputElementSelect @attributes="InputAttributes" ID="@IDCurrent" Name="@GetName()" OptionList="OptionList" OptionAttributes="OptionAttributes"
                                Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">
                @ChildContent(context)
            </InputElementSelect>
        </div>
    </TemplateInputGroup>
</div>

@code {

    [Parameter, EditorRequired]
    public required RenderFragment<TValue?> ChildContent { get; set; }

    [Parameter, EditorRequired]
    public required IEnumerable<TValue> OptionList { get; set; }

    [Parameter]
    public Func<TValue?, IReadOnlyDictionary<string, object>?>? OptionAttributes { get; set; }

}
