@inherits BaseInputGroupValue<string>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@UUIDCode" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementPassword @attributes="InputAttributes" ID="@UUIDCode" Autocomplete="@Autocomplete" Size="Size" HasChangeEventOnInput="HasChangeEventOnInput"
                              @bind-Value:get="Value" @bind-Value:set="x => ValueChanged.InvokeAsync(x)"/>
    </TemplateInputGroup>
</div>

@code {

    [Parameter]
    public WebFormInputFieldPasswordAutocompleteEnum? Autocomplete { get; set; }

    [Parameter]
    public int? Size { get; set; }

    [Parameter]
    public bool? HasChangeEventOnInput { get; set; }

}

