@inherits BaseInputGroup<TOption>
@typeparam TOption

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementRadioSet @attributes="InputAttributes" TOption="TOption" Name="@GetName()" OptionList="OptionList" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">
            <ChildContent>
                @ChildContent(context)
            </ChildContent>
            <Control>
                @if (Control != null)
                {
                    @Control(context)
                }
                else
                {
                    <InputControlRadio Checked="@context.Checked"/>
                    <InputElementRadio ID="@context.ID" Name="@context.Name" Option="@context.Option" OnChange="x => context.OnChange(x, context.Option)"/>
                }
            </Control>
        </InputElementRadioSet>
    </TemplateInputGroup>
</div>

@code {

    [Parameter, EditorRequired]
    public required RenderFragment<InputElementRadioSetProperties<TOption>> ChildContent { get; set; }

    [Parameter]
    public RenderFragment<InputElementRadioSetProperties<TOption>>? Control { get; set; }

    [Parameter, EditorRequired]
    public required HashSet<TOption> OptionList { get; set; }

}
