@inherits BaseInputGroup<int?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@UUIDCode" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementInteger @attributes="InputAttributes" ID="@IDCurrent" Name="@GetName()" Size="Size" HasChangeEventOnInput="HasChangeEventOnInput"
                             Value="@Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression"/>
    </TemplateInputGroup>
</div>

@code {

    [Parameter]
    public int? Size { get; set; }

    [Parameter]
    public bool? HasChangeEventOnInput { get; set; }

}

