@inherits BaseInputGroup<TOption?>
@typeparam TOption

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@IDCurrent" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        @{
            InputElementCheckboxScope<TOption> context = new(IDCurrent, GetName(), EqualityComparer<TOption>.Default.Equals(Value, Option), Option, Value, ValueChanged, ValueExpression);
            if (Control != null)
            {
                @Control(context)
            }
            else
            {
                <InputControlCheckbox Checked="@context.Checked"/>
                <InputElementCheckbox TOption="TOption" @attributes="InputAttributes" ID="@context.ID" Name="@context.Name" Option="@context.Option"
                                      Value="@context.Value" ValueChanged="@context.ValueChanged" ValueExpression="@context.ValueExpression"/>
            }
        }
        @ChildContent
    </TemplateInputGroup>
</div>

@code {

    [Parameter, EditorRequired]
    public TOption Option { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment<InputElementCheckboxScope<TOption>>? Control { get; set; }

}
