@inherits BaseInputGroup<string>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@UUIDCode" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementTextArea @attributes="InputAttributes" ID="@IDCurrent" Name="@GetName()" Size="@SizeCurrent" Rows="RowsCurrent" HasChangeEventOnInput="HasChangeEventOnInputCurrent"
                              Value="@Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression"/>
    </TemplateInputGroup>
</div>

@code {

    [Parameter]
    public int? Size { get; set; }
    private int SizeCurrent => Size ?? 40;

    [Parameter]
    public int? Rows { get; set; }
    private int RowsCurrent => Rows ?? 6;

    [Parameter]
    public bool? HasChangeEventOnInput { get; set; }
    private bool HasChangeEventOnInputCurrent => HasChangeEventOnInput ?? false;

}

