@inject UserAuthenticationStateProvider AuthProvider
@inject TextService TextService
@layout AuthenticationLayout
@inherits LayoutComponent

<div class="@CssClass">
    <div class="header">
        <div class="left">
            <NavLink href="/">
                @TextService.Get(ParameterTextConstants.Title)
            </NavLink>
        </div>

        <div class="center">
            <NavLink href="/schema">
                @TextService.Get(ParameterTextConstants.LinkNavigationSchema)
            </NavLink>
            <NavLink href="/parameter">
                @TextService.Get(ParameterTextConstants.LinkNavigationParameter)
            </NavLink>
        </div>

        <div class="right">
            <Button @onclick="SignOut">
                @TextService.Get(ParameterTextConstants.ButtonSignOut)
            </Button>
        </div>
    </div>

    <div class="content">
        @Body
    </div>
</div>

@code {

    private async void SignOut()
    {
        try
        {
            await AuthProvider.ResetIdentity();
        }
        catch (Exception)
        {
            // ignored
        }
    }

}