@inherits BaseInputMultipleChoice<TOption, TValue>
@typeparam TOption
@typeparam TValue where TValue : ISet<TOption>, new()

<div @attributes="AdditionalAttributes" class="@CssClass">
    @{
        string name = GetName();

        foreach (TOption option in OptionList)
        {
            string id = Guid.NewGuid().ToString();
            InputElementCheckboxSetScope<TOption> scope = new(id, name, IsChecked(option), option, OnChoiceChange);

            <label class="option" for="@id">
                @if (Control != null)
                {
                    @Control(scope)
                }
                else
                {
                    <InputElementCheckbox TValue="TOption" ID="@ID" Name="@GetName()" Option="option" Checked="@IsChecked(option)" OnChange="x => OnChoiceChange(x, option)"/>
                }

                @ChildContent(scope)
            </label>
        }
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required RenderFragment<InputElementCheckboxSetScope<TOption>> ChildContent { get; set; }

    [Parameter]
    public RenderFragment<InputElementCheckboxSetScope<TOption>>? Control { get; set; }

}
