@inherits BaseInput<TOption>
@typeparam TOption

<div @attributes="AdditionalAttributes" class="@CssClass">
    @{
        string name = GetName();
    }
    @foreach (TOption option in OptionList)
    {
        string id = Guid.NewGuid().ToString();
        InputElementRadioSetProperties<TOption> properties = new(id, name, EqualityComparer<TOption>.Default.Equals(Value, option), option, OnChoiceChange);

        <label class="option" for="@id">
            @if (Control != null)
            {
                @Control(properties)
            }
            else
            {
                <InputElementRadio ID="@id" Name="@GetName()" Option="option" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression" OnChange="x => OnChoiceChange(x, option)"/>
            }

            @ChildContent(properties)
        </label>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required HashSet<TOption> OptionList { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment<InputElementRadioSetProperties<TOption>> ChildContent { get; set; }

    [Parameter]
    public RenderFragment<InputElementRadioSetProperties<TOption>>? Control { get; set; }

    private void OnChoiceChange(ChangeEventArgs args, TOption option)
    {
        OnChange.InvokeAsync(args);
        NotifyChange(option);
    }

}
