@inherits BaseInput<TOption>
@implements INotifyInputChanged
@typeparam TOption

<div @attributes="AdditionalAttributes" class="@CssClass">
    @foreach (InputElementRadioSetProperties<TOption> item in _cacheList)
    {
        <label class="option" for="@item.ID">
            @if (Control != null)
            {
                @Control(item)
            }
            else
            {
                <InputElementRadio ID="@item.ID" Name="@item.Name" Option="item.Option" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression" OnChange="x => OnChoiceChange(x, item.Option)"/>
            }

            @ChildContent(item)
        </label>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public HashSet<TOption> OptionList { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<InputElementRadioSetProperties<TOption>> ChildContent { get; set; }

    [Parameter]
    public RenderFragment<InputElementRadioSetProperties<TOption>>? Control { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnChange { get; set; }

    private HashSet<TOption> _cacheSet = [];
    private InputElementRadioSetProperties<TOption>[] _cacheList = [];

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (_cacheSet.Count == OptionList.Count && _cacheSet.SequenceEqual(OptionList)) return;

        string name = GetName();
        _cacheSet = new(OptionList);
        _cacheList = OptionList.Select(x => new InputElementRadioSetProperties<TOption>(Guid.NewGuid().ToString(), name, x, OnChoiceChange)).ToArray();
    }

    private bool IsChecked(TOption option) => EqualityComparer<TOption>.Default.Equals(Value, option);

    private void OnChoiceChange(ChangeEventArgs args, TOption option)
    {
        OnChange.InvokeAsync(args);
        NotifyChange(option);
    }

}
