@inherits BaseInputMultipleChoice<TOption, TValue>
@typeparam TOption
@typeparam TValue where TValue : ISet<TOption>, new()

<div @attributes="AdditionalAttributes" class="@CssClass">
    @foreach (TOption item in OptionList)
    {
        string id = Guid.NewGuid().ToString();

        <label class="option" for="@id">
            <InputElementCheckbox @attributes="OptionAttributes?.Invoke(item)" ID="@id" Name="@GetName()" Option="item" Checked="@IsChecked(item)" OnChange="x => OnCheckboxChanged(x, item)"/>

            @ChildContent(item)
        </label>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required RenderFragment<TOption> ChildContent { get; set; }

    [Parameter]
    public Func<TOption, IReadOnlyDictionary<string, object>?>? OptionAttributes { get; set; }

    private void OnCheckboxChanged(ChangeEventArgs args, TOption item)
    {
        OnInputChange(args, item);
    }

}
