@inherits BaseInputMultipleChoice<TOption, TValue>
@typeparam TOption
@typeparam TValue where TValue : ISet<TOption>, new()

<div @attributes="AdditionalAttributes" class="@CssClass">
    @foreach (InputElementCheckboxSetScope<TOption> item in _cacheList)
    {
        <label class="option" for="@item.ID">
            @if (Control != null)
            {
                @Control(item)
            }
            else
            {
                <InputElementCheckbox TValue="TOption" ID="@item.ID" Name="@item.Name" Option="item.Option" Checked="@IsChecked(item.Option)" OnChange="x => OnChoiceChange(x, item.Option)"/>
            }

            @ChildContent(item)
        </label>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public RenderFragment<InputElementCheckboxSetScope<TOption>> ChildContent { get; set; }

    [Parameter]
    public RenderFragment<InputElementCheckboxSetScope<TOption>>? Control { get; set; }

    private HashSet<TOption> _cacheSet = [];
    private InputElementCheckboxSetScope<TOption>[] _cacheList = [];

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (_cacheSet.Count == OptionList.Count && _cacheSet.SequenceEqual(OptionList)) return;

        string name = GetName();
        _cacheSet = new(OptionList);
        _cacheList = OptionList.Select(x => new InputElementCheckboxSetScope<TOption>(Guid.NewGuid().ToString(), name, x, OnChoiceChange)).ToArray();
    }

}
