@inherits BaseRequestForm<RequestSchemaElementCreate, ResponseSchemaElementCreate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaElementCreate" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.SchemaIdentifier))" Description="@GetDescription(nameof(Model.SchemaIdentifier))" @bind-Value="Context.Model.SchemaIdentifier"/>

        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Name))" Description="@GetDescription(nameof(Model.Name))" @bind-Value="Context.Model.Name"/>

        <InputGroupTextArea DisplayName="@GetDisplayName(nameof(Model.Note))" Description="@GetDescription(nameof(Model.Note))" @bind-Value="Context.Model.Note"/>

        <InputGroupAutosuggestTextParameter Name="@nameof(Model.TitleParameterTextID)" DisplayName="@GetDisplayName(nameof(Model.TitleParameterTextID))" Description="@GetDescription(nameof(Model.TitleParameterTextID))"
                                            SchemaID="SchemaID" @bind-Value:get="GetValueTitle()" @bind-Value:set="SetValueTitle"/>

        <InputGroupAutosuggestTextParameter Name="@nameof(Model.DescriptionParameterTextID)" DisplayName="@GetDisplayName(nameof(Model.DescriptionParameterTextID))" Description="@GetDescription(nameof(Model.DescriptionParameterTextID))"
                                            SchemaID="SchemaID" @bind-Value:get="GetValueDescription()" @bind-Value:set="SetValueDescription"/>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    private EntitySchemaParameterText? _valueTitle;
    private EntitySchemaParameterText? _valueDescription;

    protected override WebFormContext<RequestSchemaElementCreate> CreateContext()
    {
        return new(new() { SchemaID = SchemaID });
    }

    private EntitySchemaParameterText? GetValueTitle() => _valueTitle?.ID == Context.Model.TitleParameterTextID ? _valueTitle : null;
    private void SetValueTitle(EntitySchemaParameterText? obj) => Context.Model.TitleParameterTextID = (_valueTitle = obj)?.ID ?? Guid.Empty;

    private EntitySchemaParameterText? GetValueDescription() => _valueDescription?.ID == Context.Model.DescriptionParameterTextID ? _valueDescription : null;
    private void SetValueDescription(EntitySchemaParameterText? obj) => Context.Model.DescriptionParameterTextID = (_valueDescription = obj)?.ID ?? Guid.Empty;

}
