@inherits BaseRequestForm<RequestSchemaElementCreate, ResponseSchemaElementCreate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaElementCreate" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.SchemaIdentifier))" Description="@GetDescription(nameof(Model.SchemaIdentifier))" @bind-Value="Context.Model.SchemaIdentifier"/>

        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Name))" Description="@GetDescription(nameof(Model.Name))" @bind-Value="Context.Model.Name"/>

        <InputGroupTextArea DisplayName="@GetDisplayName(nameof(Model.Note))" Description="@GetDescription(nameof(Model.Note))" @bind-Value="Context.Model.Note"/>

        <InputGroupAutosuggestTextParameter Name="@nameof(Model.TitleParameterTextID)" DisplayName="@GetDisplayName(nameof(Model.TitleParameterTextID))" Description="@GetDescription(nameof(Model.TitleParameterTextID))"
                                            @bind-Value:get="_valueTitle" @bind-Value:set="SetValueTitle"/>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    private EntitySchemaParameterText? _valueTitle;

    protected override WebFormContext<RequestSchemaElementCreate> CreateContext()
    {
        return new(new() { SchemaID = SchemaID });
    }

    private void SetValueTitle(EntitySchemaParameterText? obj)
    {
        Context.Model.TitleParameterTextID = obj?.ID ?? Guid.Empty;
        _valueTitle = obj;
    }

}
