@inject IState<FeatureSchemaContextState> StateContext
@inject IState<FeatureSchemaContextHasElementState> StateContextHasElement
@inject IDispatcher Dispatcher
@inject TextService TextService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible Loading="IsLoadingList" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Context list</DynamicHTMLTag>
        </Header>
        <Content>
            <Table class="grid" List="List">
                <TableHeader>
                    <strong></strong>
                    <strong>@TextService.Get(TextConstants.LabelSchemaIdentifier)</strong>
                    <strong>@TextService.Get(TextConstants.LabelName)</strong>
                    <strong>@TextService.Get(TextConstants.LabelNote)</strong>
                    <strong>@TextService.Get(TextConstants.LabelTimeCreated)</strong>
                </TableHeader>
                <TableRow>
                    <span>
                        <InputElementCheckbox Option="true" @bind-Value:get="@IsChecked(context.ID)" @bind-Value:set="x => SetChecked(x, context.ID)"/>
                    </span>
                    <span>@context.SchemaIdentifier</span>
                    <span>@context.Name</span>
                    <span>@context.Note</span>
                    <span>@context.TimeCreated</span>
                </TableRow>
            </Table>
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchema Schema { get; set; }

    [Parameter, EditorRequired]
    public EntitySchemaElement SchemaElement { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{GetComponentName()}:{Schema.ID}";

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H4;

    private bool _isCollapsed = true;

    private bool IsLoading => IsLoadingList || IsLoadingJunction;
    private bool IsLoadingList => StateContext.Value.TryGetLoading(ScopeCurrent, FeatureSchemaContextActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaContext> List => StateContext.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaContext>? value) ? value : [];

    private bool IsLoadingJunction => StateContextHasElement.Value.TryGetLoading(ScopeCurrent, FeatureSchemaContextHasElementActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaContextHasElement> Junction => StateContextHasElement.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaContextHasElement>? value) ? value : [];

    private bool IsChecked(Guid id)
    {
        return Junction.Any(x => x.EntityID == id);
    }

    private void SetChecked(bool value, Guid id)
    {
        if (value)
        {
            Dispatcher.Dispatch(new FeatureSchemaContextHasElementReducers.AddAction(ScopeCurrent, new() { SchemaContextID = id, SchemaElementID = SchemaElement.ID }));
        }
        else
        {
            EntitySchemaContextHasElement junction = Junction.Single(x => x.EntityID == id && x.RelationID == SchemaElement.ID);
            Dispatcher.Dispatch(new FeatureSchemaContextHasElementReducers.DeleteAction(ScopeCurrent, new() { ID = junction.ID }));
        }
    }

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;

        if (_isCollapsed || StateContext.Value.List.ContainsKey(ScopeCurrent) || IsLoading) return;
        Dispatcher.Dispatch(new FeatureSchemaContextReducers.ListAction(ScopeCurrent, new() { SchemaID = Schema.ID }));
        Dispatcher.Dispatch(new FeatureSchemaContextHasElementReducers.ListAction(ScopeCurrent, new() { SchemaElementID = SchemaElement.ID }));
    }

}
