@inject IState<FeatureSchemaContextState> StateContext
@inject IState<FeatureSchemaContextHasElementState> StateContextHasElement
@inject IDispatcher Dispatcher
@using Noxy.NET.EntityManagement.Domain.Entities.Schemas.Junctions
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible Loading="IsLoadingList" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Context list</DynamicHTMLTag>
        </Header>
        <Content>
            <div class="grid">
                <div class="grid-header">
                    <strong>Name</strong>
                    <strong>Note</strong>
                    <strong>Schema Identifier</strong>
                    <strong>Title</strong>
                    <strong>Description</strong>
                    <strong>Created at</strong>
                </div>

                @foreach (EntitySchemaContext item in List)
                {
                    <div class="grid-row">
                        <span>@item.Name</span>
                        <span>@item.Note</span>
                        <span>@item.SchemaIdentifier</span>
                        <span>@item.TitleTextParameter?.Name</span>
                        <span>@item.DescriptionTextParameter?.Name</span>
                        <span>@item.TimeCreated</span>
                    </div>
                }
            </div>
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchema Schema { get; set; }

    [Parameter, EditorRequired]
    public EntitySchemaElement SchemaElement { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{GetComponentName()}:{Schema.ID}";

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H4;

    private bool _isCollapsed = true;

    private bool IsLoading => IsLoadingList || IsLoadingJunction;
    private bool IsLoadingList => StateContext.Value.TryGetLoading(ScopeCurrent, FeatureSchemaContextActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaContext> List => StateContext.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaContext>? value) ? value : [];

    private bool IsLoadingJunction => StateContext.Value.TryGetLoading(ScopeCurrent, FeatureSchemaContextActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaContextHasElement> Junction => StateContextHasElement.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaContextHasElement>? value) ? value : [];

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;

        if (_isCollapsed || StateContext.Value.List.ContainsKey(ScopeCurrent) || IsLoading) return;
        Dispatcher.Dispatch(new FeatureSchemaContextReducers.ListAction(ScopeCurrent, new() { SchemaID = Schema.ID }));
        Dispatcher.Dispatch(new FeatureSchemaContextHasElementReducers.ListAction(ScopeCurrent, new() { SchemaElementID = SchemaElement.ID }));
    }

}
