@inject IState<FeatureSchemaPropertyState> StateProperty
@inject IState<FeatureSchemaElementHasPropertyState> StateElementHasProperty
@inject IDispatcher Dispatcher
@inject TextParameterService TextParameterService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible Loading="IsLoadingList" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Property list</DynamicHTMLTag>
        </Header>
        <Content>
            <Table class="grid" List="List">
                <TableHeader>
                    <strong></strong>
                    <strong>@TextParameterService.Get(ParameterTextConstants.LabelSchemaIdentifier)</strong>
                    <strong>@TextParameterService.Get(ParameterTextConstants.LabelName)</strong>
                    <strong>@TextParameterService.Get(ParameterTextConstants.LabelNote)</strong>
                    <strong>@TextParameterService.Get(ParameterTextConstants.LabelTimeCreated)</strong>
                </TableHeader>
                <TableRow>
                    <span>
                        <InputElementCheckbox Option="true" @bind-Value:get="@IsChecked(context.Row.ID)" @bind-Value:set="x => SetChecked(x, context.Row.ID)"/>
                    </span>
                    <span>@context.Row.SchemaIdentifier</span>
                    <span>@context.Row.Name</span>
                    <span>@context.Row.Note</span>
                    <span>@context.Row.TimeCreated</span>
                </TableRow>
            </Table>
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchema Schema { get; set; }

    [Parameter, EditorRequired]
    public EntitySchemaElement SchemaElement { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{ComponentName}:{Schema.ID}";

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H4;

    private bool _isCollapsed = true;

    private bool IsLoading => IsLoadingList || IsLoadingJunction;
    private bool IsLoadingList => StateProperty.Value.TryGetLoading(ScopeCurrent, FeatureSchemaPropertyActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaProperty> List => StateProperty.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaProperty.Discriminator>? value) ? [..value.Select(x => x.GetValue())] : [];

    private bool IsLoadingJunction => StateElementHasProperty.Value.TryGetLoading(ScopeCurrent, FeatureSchemaElementHasPropertyActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaElementHasProperty> Junction => StateElementHasProperty.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaElementHasProperty>? value) ? value : [];

    private bool IsChecked(Guid id)
    {
        return Junction.Any(x => x.RelationID == id);
    }

    private void SetChecked(bool value, Guid id)
    {
        if (value)
        {
            Dispatcher.Dispatch(new FeatureSchemaElementHasPropertyReducers.AddAction(ScopeCurrent, new() { SchemaElementID = SchemaElement.ID, SchemaPropertyID = id }));
        }
        else
        {
            EntitySchemaElementHasProperty junction = Junction.Single(x => x.EntityID == SchemaElement.ID && x.RelationID == id);
            Dispatcher.Dispatch(new FeatureSchemaElementHasPropertyReducers.DeleteAction(ScopeCurrent, new() { ID = junction.ID }));
        }
    }

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;

        if (_isCollapsed || StateProperty.Value.List.ContainsKey(ScopeCurrent) || IsLoading) return;
        Dispatcher.Dispatch(new FeatureSchemaPropertyReducers.ListAction(ScopeCurrent, new() { SchemaID = Schema.ID }));
        Dispatcher.Dispatch(new FeatureSchemaElementHasPropertyReducers.ListAction(ScopeCurrent, new() { SchemaElementID = SchemaElement.ID }));
    }

}
