@inject IJSRuntime JS
@inherits ElementComponent
@implements IAsyncDisposable

<div @attributes="@AdditionalAttributes" id="@UUIDCode" class="@CssClass" collapsed="@EffectiveCollapsed" animated="@IsAnimated">
    <div class="header-wrapper">
        @Header

        <div class="arrow" tabindex="0" @onclick="ArrowClicked" @onkeydown="ArrowKeyPressed">

            @if (Loading)
            {
                <span>LOADING</span>
                @* <Loader Width="40" Height="40"/>  *@
            }
            else if (Arrow != null)
            {
                @Arrow(EffectiveCollapsed)
            }
            else
            {
                @if (EffectiveCollapsed)
                {
                    <IconChevronDown Size="IconSizeEnum.Small"/>
                }
                else
                {
                    <IconChevronUp Size="IconSizeEnum.Small"/>
                }
            }
        </div>
    </div>

    <div class="content-wrapper" @ref="_refContentWrapper">
        @Content
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public RenderFragment<bool>? Arrow { get; set; }

    [Parameter]
    public bool? Collapsed { get; set; }

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public EventCallback<bool> CollapsedChanged { get; set; }

    [Parameter]
    public Expression<Func<bool>>? CollapsedExpression { get; set; }

    private bool _wasLoading;
    private bool _internalCollapsed;
    private IJSObjectReference? _module;
    private DotNetObjectReference<Collapsible>? _refDotNet;
    private ElementReference _refContentWrapper;

    private bool IsAnimated => _module != null && _refDotNet != null;
    private bool EffectiveCollapsed => Loading || _internalCollapsed;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _internalCollapsed = Collapsed ?? true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender) return;

        _refDotNet ??= DotNetObjectReference.Create(this);
        _module ??= await JS.InvokeAsync<IJSObjectReference>("import", JS.GetComponentPath(typeof(Collapsible)));

        await _module.InvokeVoidAsync("RegisterCollapsible", UUIDCode, _refContentWrapper, _refDotNet, nameof(OnAnimationComplete));
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (!_wasLoading && Loading)
        {
            if (_module != null) _ = _module.InvokeVoidAsync("ResetInlineStyle", _refContentWrapper);
            _internalCollapsed = true;
        }

        _wasLoading = Loading;

        if (Collapsed.HasValue)
        {
            _internalCollapsed = Collapsed.Value;
        }
    }

    [JSInvokable]
    public async Task OnAnimationComplete(bool collapsed)
    {
        await CollapsedChanged.InvokeAsync(_internalCollapsed = collapsed);
        await InvokeAsync(StateHasChanged);
    }

    private async Task ArrowKeyPressed(KeyboardEventArgs args)
    {
        if (args.Code is " " or "Enter")
        {
            await Toggle();
        }
    }

    private async Task ArrowClicked()
    {
        await Toggle();
    }

    private async Task Toggle()
    {
        if (_module == null || _refDotNet == null)
        {
            await CollapsedChanged.InvokeAsync(_internalCollapsed = !_internalCollapsed);
        }
        else
        {
            string method = _internalCollapsed ? "AnimateExpand" : "AnimateCollapse";
            if (_internalCollapsed) await CollapsedChanged.InvokeAsync(_internalCollapsed = false);

            await _module.InvokeVoidAsync(method, _refContentWrapper);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_module != null)
        {
            await _module.DisposeAsync();
            _module = null;
        }

        _refDotNet?.Dispose();
        _refDotNet = null;
    }

}
