@inject IDispatcher Dispatcher
@inject IStateSelection<FilterFeatureState, FilterBlock?> BlockSelection
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="header">
        <FormField Label="Base type group" For="@BaseTypeGroupId">
            <InputControlSelect TOption="string" class="base-type-group" ID="@BaseTypeGroupId" OptionList="BaseTypeGroupSet" @bind-Value:get="_inputGroup" @bind-Value:set="SetInputGroup">
                @context
            </InputControlSelect>
        </FormField>

        <FormField Label="Filter by name" For="@FilterByNameId">
            <InputControlText class="filter-by-name" ID="@FilterByNameId" OnInputDelay="200" @bind-Value="@_inputSearch"/>
        </FormField>

        @if (!string.IsNullOrEmpty(_inputGroup))
        {
            <div class="action-list">
                <InputControlCheckbox ID="@GetBaseTypeID("select-all")" Option="true" @bind-Value:get="@GetSelectAll()" @bind-Value:set="@SetSelectAll">
                    Select All
                </InputControlCheckbox>

                <Button type="button" Status="StatusEnum.Error" @onclick="OnResetBaseTypes" disabled="@(!CurrentBaseTypeList.Any())" class="btn btn-secondary reset-button">
                    Reset Selections
                </Button>
            </div>
        }
    </div>

    <div class="content">
        @if (!string.IsNullOrEmpty(_inputGroup))
        {
            string[] filtered = GetFilteredBaseTypes();
            if (!filtered.Any())
            {
                <p class="no-results">No base types match your search.</p>
            }
            else
            {
                @foreach (string type in filtered)
                {
                    bool isChecked = CurrentBaseTypeList.Contains(type);

                    <InputControlCheckbox @key="type" ID="@GetBaseTypeID(type)" Name="base-type" Option="true" @bind-Value:get="@isChecked" @bind-Value:set="v => OnBaseTypeToggle(type, v)">
                        @type
                    </InputControlCheckbox>
                }
            }
        }
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public Guid GroupId { get; set; }

    [Parameter, EditorRequired]
    public Guid BlockId { get; set; }

    private string _inputGroup = string.Empty;
    private string _inputSearch = string.Empty;

    private FilterBlock? Block => BlockSelection.Value;
    private HashSet<string> CurrentBaseTypeList => Block?.BaseTypeList ?? [];
    private static HashSet<string> BaseTypeGroupSet => BaseTypeConstants.BaseTypes.Keys.ToHashSet();
    private string BaseTypeGroupId => $"base-type-group-{GroupId}";
    private string FilterByNameId => $"filter-by-name-{GroupId}";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _inputGroup = BaseTypeConstants.BaseTypes.FirstOrDefault().Key;

        BlockSelection.Select(state => state.Filter.GroupList
            .FirstOrDefault(g => g.ID == GroupId)?
            .BlockList.FirstOrDefault(b => b.ID == BlockId));
    }

    private string GetBaseTypeID(string type) => $"{UUIDCode}-{type}";

    private string[] GetFilteredBaseTypes()
    {
        if (string.IsNullOrEmpty(_inputGroup) || !BaseTypeConstants.BaseTypes.TryGetValue(_inputGroup, out IReadOnlyList<string>? list)) return [];
        if (!string.IsNullOrWhiteSpace(_inputSearch)) list = list.Where(b => b.Contains(_inputSearch, StringComparison.OrdinalIgnoreCase)).ToList();
        return list.ToArray();
    }

    private void SetInputGroup(string? value)
    {
        _inputGroup = value ?? string.Empty;
        _inputSearch = string.Empty;
    }

    private bool? GetSelectAll()
    {
        if (string.IsNullOrEmpty(_inputGroup) || !BaseTypeConstants.BaseTypes.TryGetValue(_inputGroup, out IReadOnlyList<string>? masterList)) return false;
        return masterList.All(b => CurrentBaseTypeList.Contains(b));
    }

    private void SetSelectAll(bool? value)
    {
        if (string.IsNullOrEmpty(_inputGroup) || !BaseTypeConstants.BaseTypes.TryGetValue(_inputGroup, out IReadOnlyList<string>? list)) return;

        HashSet<string> set = [.. CurrentBaseTypeList];
        if (value ?? false)
        {
            foreach (string item in list) set.Add(item);
        }
        else
        {
            foreach (string item in list) set.Remove(item);
        }

        DispatchUpdateWithNewBaseList(set);
    }

    private void OnBaseTypeToggle(string type, bool value)
    {
        HashSet<string> list = [.. CurrentBaseTypeList];

        if (value) list.Add(type);
        else list.Remove(type);

        DispatchUpdateWithNewBaseList(list);
    }

    private void OnResetBaseTypes()
    {
        _inputSearch = string.Empty;
        DispatchUpdateWithNewBaseList([]);
    }

    private void DispatchUpdateWithNewBaseList(HashSet<string> list)
    {
        if (Block == null) return;

        Dispatcher.Dispatch(new FilterFeatureReducers.EditBlockAction(GroupId, Block with { BaseTypeList = list }));
    }

}