@inject IState<FilterFeatureState> State
@inject IDispatcher Dispatcher
@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">

    <FormField Label="Text Color" For="text-color">
        <InputControlSelect TOption="FilterColor?" ID="text-color" Name="text-color" OptionList="TextFilterColorSet" 
                            @bind-Value:get="Block.TextColor" @bind-Value:set="SetTextColor">
            @GetColorName(context)
        </InputControlSelect>
    </FormField>

    <FormField Label="Background Color" For="background-color">
        <InputControlSelect TOption="FilterColor?" ID="background-color" Name="background-color" OptionList="BackgroundFilterColorSet" 
                            @bind-Value:get="Block.BackgroundColor" @bind-Value:set="SetBackgroundColor">
            @GetColorName(context)
        </InputControlSelect>
    </FormField>

    <FormField Label="Border Color" For="border-color">
        <InputControlSelect TOption="FilterColor?" ID="border-color" Name="border-color" OptionList="BorderFilterColorSet" 
                            @bind-Value:get="Block.BorderColor" @bind-Value:set="SetBorderColor">
            @GetColorName(context)
        </InputControlSelect>
    </FormField>

    <FormField Label="@($"Font Size ({FontSize})")" For="font-size-slider">
        <input id="font-size-slider" type="range" min="18" max="45" value="@FontSize" @oninput="OnFontSizeChange" class="poe-range-slider"/>
    </FormField>

</div>

@code {

    [Parameter, EditorRequired]
    public FilterGroup Group { get; set; }

    [Parameter, EditorRequired]
    public FilterBlock Block { get; set; }

    private Filter Filter => State.Value.Filter;

    private int FontSize => Block.FontSize ?? 32;
    
    private HashSet<FilterColor?> TextFilterColorSet => [null, ..Filter.GetColorList(ColorTypeEnum.Text)];
    private HashSet<FilterColor?> BackgroundFilterColorSet => [null, ..Filter.GetColorList(ColorTypeEnum.Background)];
    private HashSet<FilterColor?> BorderFilterColorSet => [null, ..Filter.GetColorList(ColorTypeEnum.Border)];

    private void SetTextColor(FilterColor? value) => UpdateBlockColor(ColorTypeEnum.Text, value);
    private void SetBackgroundColor(FilterColor? value) => UpdateBlockColor(ColorTypeEnum.Background, value);
    private void SetBorderColor(FilterColor? value) => UpdateBlockColor(ColorTypeEnum.Border, value);
    
    private void UpdateBlockColor(ColorTypeEnum type, FilterColor? color)
    {
        FilterBlock block = Block.Clone();
        switch (type)
        {
            case ColorTypeEnum.Text:
                block.TextColor = color;
                break;
            case ColorTypeEnum.Background:
                block.BackgroundColor = color;
                break;
            case ColorTypeEnum.Border:
                block.BorderColor = color;
                break;
            default:
                throw new ArgumentOutOfRangeException(nameof(type), type, null);
        }
        
        DispatchUpdate(block);
    }

    private void OnFontSizeChange(ChangeEventArgs e)
    {
        FilterBlock block = Block.Clone();
        block.FontSize = int.TryParse(e.Value?.ToString(), out int size) ? size : 32;
        DispatchUpdate(block);
    }

    private void DispatchUpdate(FilterBlock updatedBlock)
    {
        Dispatcher.Dispatch(new FilterFeatureReducers.EditBlockAction(Group.ID, updatedBlock));
    }

    private static string GetColorName(FilterColor? color) => color?.Name ?? "-- Default --";

}
