@inject IDispatcher Dispatcher
@inject IStateSelection<FilterFeatureState, FilterBlock?> BlockSelection
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="header">
        <FormField Label="Base type group" For="base-type-group">
            <InputControlSelect TOption="string" class="base-type-group" ID="base-type-group" OptionList="BaseTypeGroupSet"
                                @bind-Value:get="_inputGroup" @bind-Value:set="SetInputGroup">
                @context
            </InputControlSelect>
        </FormField>

        <FormField Label="Filter by name" For="filter-by-name">
            <InputControlText class="filter-by-name" ID="filter-by-name" OnInputDelay="200" @bind-Value="@_inputSearch"/>
        </FormField>

        @if (!string.IsNullOrEmpty(_inputGroup))
        {
            <div class="action-list">
                <InputControlCheckbox ID="@GetBaseTypeID("select-all")" Option="true" @bind-Value:get="@GetSelectAll()" @bind-Value:set="@SetSelectAll">
                    Select All
                </InputControlCheckbox>

                <Button type="button" Status="StatusEnum.Error" @onclick="OnResetBaseTypes" disabled="@(!CurrentBaseTypeList.Any())" class="btn btn-secondary reset-button">
                    Reset Selections
                </Button>
            </div>
        }
    </div>

    <div class="content">
        @if (!string.IsNullOrEmpty(_inputGroup))
        {
            string[] filteredBases = GetFilteredBaseTypes();
            if (!filteredBases.Any())
            {
                <p class="no-results">No base types match your search.</p>
            }
            else
            {
                @foreach (string baseType in filteredBases)
                {
                    bool isChecked = CurrentBaseTypeList.Contains(baseType);

                    <InputControlCheckbox @key="baseType" ID="@GetBaseTypeID(baseType)" Name="base-type" Option="true" @bind-Value:get="@isChecked" @bind-Value:set="v => OnBaseTypeToggle(baseType, v)">
                        @baseType
                    </InputControlCheckbox>
                }
            }
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Guid GroupId { get; set; }
    [Parameter, EditorRequired]
    public Guid BlockId { get; set; }
    
    private string _inputGroup = string.Empty;
    private string _inputSearch = string.Empty;

    private FilterBlock? Block => BlockSelection.Value;
    private HashSet<string> CurrentBaseTypeList => Block?.BaseTypeList ?? [];
    private static HashSet<string> BaseTypeGroupSet => BaseTypeConstants.BaseTypes.Keys.ToHashSet();
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _inputGroup = BaseTypeConstants.BaseTypes.FirstOrDefault().Key;

        BlockSelection.Select(state => state.Filter.GroupList
            .FirstOrDefault(g => g.ID == GroupId)?
            .BlockList.FirstOrDefault(b => b.ID == BlockId));
    }

    private string GetBaseTypeID(string baseType) => $"{UUIDCode}-{baseType}";

    private string[] GetFilteredBaseTypes()
    {
        if (string.IsNullOrEmpty(_inputGroup) || !BaseTypeConstants.BaseTypes.TryGetValue(_inputGroup, out IReadOnlyList<string>? list)) return [];
        if (!string.IsNullOrWhiteSpace(_inputSearch)) list = list.Where(b => b.Contains(_inputSearch, StringComparison.OrdinalIgnoreCase)).ToList();
        return list.ToArray();
    }

    private void SetInputGroup(string? value)
    {
        _inputGroup = value ?? string.Empty;
        _inputSearch = string.Empty;
    }
    
    private bool? GetSelectAll()
    {
        if (string.IsNullOrEmpty(_inputGroup) || !BaseTypeConstants.BaseTypes.TryGetValue(_inputGroup, out IReadOnlyList<string>? masterList)) return false;
        return masterList.All(b => CurrentBaseTypeList.Contains(b));
    }

    private void SetSelectAll(bool? value)
    {
        if (string.IsNullOrEmpty(_inputGroup) || !BaseTypeConstants.BaseTypes.TryGetValue(_inputGroup, out IReadOnlyList<string>? list)) return;

        HashSet<string> set = [.. CurrentBaseTypeList];
        if (value ?? false)
        {
            foreach (string item in list) set.Add(item);
        }
        else
        {
            foreach (string item in list) set.Remove(item);
        }

        DispatchUpdateWithNewBases(set);
    }

    private void OnBaseTypeToggle(string baseType, bool value)
    {
        HashSet<string> updatedBases = [.. CurrentBaseTypeList];

        if (value) updatedBases.Add(baseType);
        else updatedBases.Remove(baseType);

        DispatchUpdateWithNewBases(updatedBases);
    }

    private void OnResetBaseTypes()
    {
        _inputSearch = string.Empty;
        DispatchUpdateWithNewBases([]);
    }

    private void DispatchUpdateWithNewBases(HashSet<string> newBases)
    {
        if (Block == null) return;

        FilterBlock blockSnapshot = Block.Clone();
        blockSnapshot.BaseTypeList = newBases;

        Dispatcher.Dispatch(new FilterFeatureReducers.EditBlockAction(GroupId, blockSnapshot));
    }
}