@inject IDispatcher Dispatcher
@inject IStateSelection<FilterFeatureState, FilterBlock> BlockSelection
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">

    <FormField Label="Rarity" For="@RarityId">
        <FilterRarityCondition ID="@RarityId" Value="Block.Rarity" ValueChanged="OnRarityChange"/>
    </FormField>

    <FormField Label="Item Level" For="@ItemLevelId">
        <FilterIntCondition ID="@ItemLevelId" Value="Block.ItemLevel" ValueChanged="OnItemLevelChange"/>
    </FormField>

    <FormField Label="Area Level" For="@AreaLevelId">
        <FilterIntCondition ID="@AreaLevelId" Value="Block.AreaLevel" ValueChanged="OnAreaLevelChange"/>
    </FormField>

    <FormField Label="Sockets" For="@SocketsId">
        <FilterIntCondition ID="@SocketsId" Value="Block.Sockets" ValueChanged="OnSocketsChange"/>
    </FormField>

    <FormField Label="Quality" For="@QualityId">
        <FilterIntCondition ID="@QualityId" Value="Block.Quality" ValueChanged="OnQualityChange"/>
    </FormField>

    <FormField Label="Stack Size" For="@StackSizeId">
        <FilterIntCondition ID="@StackSizeId" Value="Block.StackSize" ValueChanged="OnStackSizeChange"/>
    </FormField>

    <FormField Label="Unidentified Item Tier" For="@UnidentifiedTierId">
        <FilterIntCondition ID="@UnidentifiedTierId" Value="Block.UnidentifiedItemTier" ValueChanged="OnUnidentifiedTierChange"/>
    </FormField>

    <FormField Label="Waystone Tier" For="@WaystoneTierId">
        <FilterIntCondition ID="@WaystoneTierId" Value="Block.WaystoneTier" ValueChanged="OnWaystoneTierChange"/>
    </FormField>

    <FormField Label="Gem Level" For="@GemLevelId">
        <FilterIntCondition ID="@GemLevelId" Value="Block.GemLevel" ValueChanged="OnGemLevelChange"/>
    </FormField>

    <FormField Label="Base Armour" For="@BaseArmourId">
        <FilterIntCondition ID="@BaseArmourId" Value="Block.BaseArmour" ValueChanged="OnBaseArmourChange"/>
    </FormField>

    <FormField Label="Base Evasion" For="@BaseEvasionId">
        <FilterIntCondition ID="@BaseEvasionId" Value="Block.BaseEvasion" ValueChanged="OnBaseEvasionChange"/>
    </FormField>

    <FormField Label="Base Energy Shield" For="@BaseEnergyShieldId">
        <FilterIntCondition ID="@BaseEnergyShieldId" Value="Block.BaseEnergyShield" ValueChanged="OnBaseEnergyShieldChange"/>
    </FormField>

    <FormField Label="Corrupted Mods" For="@CorruptedModsId">
        <FilterIntCondition ID="@CorruptedModsId" Value="Block.CorruptedMods" ValueChanged="OnCorruptedModsChange"/>
    </FormField>

    <InputControlCheckbox ID="@CorruptedId" Option="true" @bind-Value="Block.Corrupted" @bind-Value:after="OnStateChanged">
        Corrupted
    </InputControlCheckbox>

    <InputControlCheckbox ID="@AlwaysShowId" Option="true" @bind-Value="Block.AlwaysShow" @bind-Value:after="OnStateChanged">
        Always Show
    </InputControlCheckbox>

</div>

@code {

    [Parameter, EditorRequired]
    public Guid GroupId { get; set; }

    [Parameter, EditorRequired]
    public Guid BlockId { get; set; }

    private FilterBlock Block => BlockSelection.Value;

    private string RarityId => $"rarity-condition-{GroupId}-{BlockId}";
    private string ItemLevelId => $"item-level-condition-{GroupId}-{BlockId}";
    private string AreaLevelId => $"area-level-condition-{GroupId}-{BlockId}";
    private string SocketsId => $"sockets-condition-{GroupId}-{BlockId}";
    private string QualityId => $"quality-condition-{GroupId}-{BlockId}";
    private string StackSizeId => $"stack-size-condition-{GroupId}-{BlockId}";
    private string UnidentifiedTierId => $"unidentified-tier-condition-{GroupId}-{BlockId}";
    private string WaystoneTierId => $"waystone-tier-condition-{GroupId}-{BlockId}";
    private string GemLevelId => $"gem-level-condition-{GroupId}-{BlockId}";
    private string BaseArmourId => $"base-armour-condition-{GroupId}-{BlockId}";
    private string BaseEvasionId => $"base-evasion-condition-{GroupId}-{BlockId}";
    private string BaseEnergyShieldId => $"base-energy-shield-condition-{GroupId}-{BlockId}";
    private string CorruptedModsId => $"corrupted-mods-condition-{GroupId}-{BlockId}";
    private string CorruptedId => $"corrupted-condition-{GroupId}-{BlockId}";
    private string AlwaysShowId => $"always-show-condition-{GroupId}-{BlockId}";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        BlockSelection.Select(FilterFeatureState.SelectBlock(GroupId, BlockId));
    }

    private void OnRarityChange(FilterComparatorRarity? condition) => UpdateBlockCondition(Block with { Rarity = condition });
    private void OnItemLevelChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { ItemLevel = condition });
    private void OnAreaLevelChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { AreaLevel = condition });
    private void OnSocketsChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { Sockets = condition });
    private void OnQualityChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { Quality = condition });
    private void OnStackSizeChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { StackSize = condition });
    private void OnUnidentifiedTierChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { UnidentifiedItemTier = condition });
    private void OnWaystoneTierChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { WaystoneTier = condition });
    private void OnGemLevelChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { GemLevel = condition });
    private void OnBaseArmourChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { BaseArmour = condition });
    private void OnBaseEvasionChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { BaseEvasion = condition });
    private void OnBaseEnergyShieldChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { BaseEnergyShield = condition });
    private void OnCorruptedModsChange(FilterComparatorInt? condition) => UpdateBlockCondition(Block with { CorruptedMods = condition });

    private void OnStateChanged() => UpdateBlockCondition(Block);

    private void UpdateBlockCondition(FilterBlock updatedBlock)
    {
        Dispatcher.Dispatch(new FilterFeatureReducers.SetBlockAction(GroupId, updatedBlock));
    }

}