@inject IDispatcher Dispatcher
@inject IStateSelection<FilterFeatureState, FilterBlock> BlockSelection
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="header">
        <div class="action-list">
            <FormField Label="Filter by name" For="@FilterByNameId">
                <InputControlText ID="@FilterByNameId" OnInputDelay="200" @bind-Value:get="@_inputSearch" @bind-Value:set="SetInputSearch"/>
            </FormField>

            <Button type="button" Status="StatusEnum.Error" @onclick="OnResetBaseTypes" disabled="@(!CurrentBaseTypeList.Any())">
                Reset All Selections
            </Button>
        </div>
    </div>

    <div class="content">
        @if (_filteredGroupsCache.Count > 0)
        {
            @foreach (KeyValuePair<string, List<string>> group in _filteredGroupsCache)
            {
                <BaseTypeGroup @key="group.Key" GroupKey="@group.Key" GroupItems="@group.Value" CurrentBaseTypeList="@CurrentBaseTypeList" GroupId="@GroupId" BlockId="@BlockId" IsGroupSelected="@GetSelectAll(group.Key)"/>
            }
        }
        else
        {
            <p class="no-results">No base types match your search.</p>
        }
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public Guid GroupId { get; set; }

    [Parameter, EditorRequired]
    public Guid BlockId { get; set; }

    private string? _inputSearch;
    private Dictionary<string, List<string>> _filteredGroupsCache = [];

    private FilterBlock Block => BlockSelection.Value;
    private HashSet<string> CurrentBaseTypeList => Block.BaseTypeList;

    private string FilterByNameId => $"filter-{BlockId}";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        BlockSelection.Select(FilterFeatureState.SelectBlock(GroupId, BlockId));
        UpdateFilteredGroupsCache();
    }

    private void SetInputSearch(string? value)
    {
        if (_inputSearch == value) return;

        _inputSearch = value;
        UpdateFilteredGroupsCache();
    }

    private void UpdateFilteredGroupsCache()
    {
        Dictionary<string, List<string>> updatedCache = new();

        foreach (KeyValuePair<string, IReadOnlyList<string>> pair in BaseTypeConstants.BaseTypes)
        {
            IEnumerable<string> matchedTypes = pair.Value.AsEnumerable();
            if (!string.IsNullOrWhiteSpace(_inputSearch))
            {
                matchedTypes = matchedTypes.Where(b => b.Contains(_inputSearch, StringComparison.OrdinalIgnoreCase));
            }

            List<string> matchedList = matchedTypes.ToList();
            if (matchedList.Count > 0)
            {
                updatedCache.Add(pair.Key, matchedList);
            }
        }

        _filteredGroupsCache = updatedCache;
    }

    private bool? GetSelectAll(string key)
    {
        if (!BaseTypeConstants.BaseTypes.TryGetValue(key, out IReadOnlyList<string>? list) || !list.Any())
        {
            return false;
        }

        return list.All(b => CurrentBaseTypeList.Contains(b));
    }

    private void OnResetBaseTypes()
    {
        SetInputSearch(string.Empty);

        if (CurrentBaseTypeList.Count > 0)
        {
            DispatchUpdateWithNewBaseList([]);
        }
    }

    private void DispatchUpdateWithNewBaseList(HashSet<string> list)
    {
        Dispatcher.Dispatch(new FilterFeatureReducers.SetBlockAction(GroupId, Block with { BaseTypeList = list }));
    }

}