@inject IDispatcher Dispatcher
@inject IState<FilterFeatureState> State
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="tab-list" role="tablist">
        @foreach (ColorTypeEnum type in Enum.GetValues<ColorTypeEnum>())
        {
            bool isSelected = _tab == type;
            string isSelectedAria = isSelected.ToString().ToLower();
            string? isSelectedAttribute = isSelected ? "selected" : null;

            <button type="button" class="tab" role="tab" aria-selected="@isSelectedAria" selected="@isSelectedAttribute" @onclick="() => SetActiveTab(type)">
                <strong>
                    @type.ToText()
                </strong>
            </button>
        }
    </div>

    <div class="tab-panel" role="tabpanel">
        <Table class="table" List="ColorList">
            <TableHeader>
                <div role="cell">
                    <strong>Name</strong>
                </div>
                <div role="cell">
                    <strong>Color</strong>
                </div>
                <div role="cell"></div>
            </TableHeader>
            <TableRow>
                <div class="table-cell" role="cell">
                    <InputControlText class="name" Size="20" @bind-Value:get="@context.Row.Name" @bind-Value:set="e => OnInputColorEditNameChange(e, context.Row)"/>
                </div>

                <div class="table-cell" role="cell">
                    <input type="color" class="color" alpha value="@context.Row.ToHex()" @onchange="e => OnInputColorEditValueChange(e, context.Row)"/>
                    <InputControlText class="color-value" Size="7" @bind-Value:get="@context.Row.ToHex()" @bind-Value:set="e => OnInputColorEditValueChange(e, context.Row)"/>
                </div>

                <div class="table-cell" role="cell">
                    @if (context.Index == 0)
                    {
                        <Button type="button" Status="StatusEnum.Success" @onclick="AddNewRowAtBottom">
                            <MaterialIcon Icon="add" Size="20px"/>
                        </Button>
                    }
                    else
                    {
                        <Button type="button" Status="StatusEnum.Error" @onclick="() => DeleteColor(context.Row.ID)">
                            <MaterialIcon Icon="remove" Size="20px"/>
                        </Button>
                    }
                </div>

            </TableRow>
        </Table>
    </div>
</div>

@code {

    private ColorTypeEnum _tab = ColorTypeEnum.Background;

    private List<FilterColor> ColorList => State.Value.Filter.CustomColorCollection.GetValueOrDefault(_tab, []);

    private void SetActiveTab(ColorTypeEnum tab) => _tab = tab;

    private void OnInputColorEditNameChange(string value, FilterColor color)
    {
        color.Name = value;
        Dispatcher.Dispatch(new FilterFeatureReducers.EditColorAction(_tab, color.Clone()));
    }

    private void OnInputColorEditValueChange(string value, FilterColor color)
    {
        if (color.TryUpdateFrom(value))
        {
            Dispatcher.Dispatch(new FilterFeatureReducers.EditColorAction(_tab, color.Clone()));
        }
    }

    private void OnInputColorEditValueChange(ChangeEventArgs value, FilterColor color)
    {
        if (color.TryUpdateFrom(value.Value?.ToString()))
        {
            Dispatcher.Dispatch(new FilterFeatureReducers.EditColorAction(_tab, color.Clone()));
        }
    }

    private void AddNewRowAtBottom()
    {
        FilterColor freshColor = new() { Name = "", R = 255, G = 255, B = 255, A = 255 };
        Dispatcher.Dispatch(new FilterFeatureReducers.AddColorAction(_tab, freshColor));
    }

    private void DeleteColor(Guid colorID) => Dispatcher.Dispatch(new FilterFeatureReducers.RemoveColorAction(_tab, colorID));

}