@inject IDispatcher Dispatcher
@inject IState<FilterFeatureState> FilterState
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="tab-list" role="tablist">
        @foreach (FilterColorTypeEnum type in Enum.GetValues<FilterColorTypeEnum>())
        {
            bool isSelected = _tab == type;
            string isSelectedAria = isSelected.ToString().ToLower();
            string? isSelectedAttribute = isSelected ? "selected" : null;

            <button type="button" class="tab" role="tab" aria-selected="@isSelectedAria" selected="@isSelectedAttribute" @onclick="() => SetActiveTab(type)">
                <strong>
                    @type.ToText()
                </strong>
            </button>
        }
    </div>

    <div class="tab-panel" role="tabpanel">
        <Table class="table" List="ColorList" T="FilterColor" KeySelector="row => row.ID">
            <TableHeader>
                <div role="cell"><strong>Name</strong></div>
                <div role="cell"><strong>Color</strong></div>
                <div role="cell"></div>
            </TableHeader>
            <TableRow>
                <div class="table-cell" role="cell">
                    <InputControlText class="name" Size="12" @bind-Value:get="@context.Row.Name" @bind-Value:set="e => OnInputColorEditNameChange(e, context.Row)"/>
                </div>

                <div class="table-cell" role="cell">
                    <InputControlColor @bind-Value:get="@GetColor(context.Row)" @bind-Value:set="e => OnInputColorEditValueChange(e, context.Row)"/>
                </div>

                <div class="table-cell" role="cell">
                    @if (context.Index == 0)
                    {
                        <Button type="button" Status="StatusEnum.Success" IsIcon="true" @onclick="AddNewRowAtBottom">
                            <MaterialIcon Icon="add" Size="20px"/>
                        </Button>
                    }
                    else
                    {
                        <Button type="button" Status="StatusEnum.Error" IsIcon="true" @onclick="() => DeleteColor(context.Row.ID)">
                            <MaterialIcon Icon="remove" Size="20px"/>
                        </Button>
                    }
                </div>
            </TableRow>
        </Table>
    </div>
</div>

@code {

    private FilterColorTypeEnum _tab = FilterColorTypeEnum.Text;

    private List<FilterColor> ColorList => [.. FilterFeatureState.SelectColorListByTab(_tab)(FilterState.Value)];

    private void SetActiveTab(FilterColorTypeEnum tab)
    {
        _tab = tab;
    }

    private void OnInputColorEditNameChange(string? value, FilterColor color)
    {
        Dispatcher.Dispatch(new FilterFeatureReducers.SetColorAction(_tab, color with { Name = value ?? string.Empty }));
    }

    private void OnInputColorEditValueChange(BaseColor? value, FilterColor color)
    {
        if (value is null) return;

        RgbColor rgb = value.ToRgb();

        FilterColor updatedColor = color with
        {
            Red = rgb.Red,
            Green = rgb.Green,
            Blue = rgb.Blue,
            Alpha = (int)Math.Round(rgb.Alpha * 255.0)
        };

        Dispatcher.Dispatch(new FilterFeatureReducers.SetColorAction(_tab, updatedColor));
    }

    private void AddNewRowAtBottom()
    {
        FilterColor freshColor = new() { Name = "", Red = 255, Green = 255, Blue = 255, Alpha = 255 };
        Dispatcher.Dispatch(new FilterFeatureReducers.SetColorAction(_tab, freshColor));
    }

    private void DeleteColor(Guid colorID) => Dispatcher.Dispatch(new FilterFeatureReducers.RemoveColorAction(_tab, colorID));

    private static BaseColor GetColor(FilterColor color)
    {
        return new RgbColor(color.Red, color.Green, color.Blue, color.Alpha / 255.0);
    }
}