@inject TextParameterService TextParameterService
@inject SystemConstantService SystemConstantService
@inject IState<FeatureDataParameterState> StateDataParameter
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent
@typeparam T where T : EntityDataParameter

<div @attributes="AdditionalAttributes" class="@CssClass" style="@GetStyle()">
    <Table class="table" List="List" Loading="IsLoading">
        <TableHeader>
            <b></b>
            <b class="column left">@TextParameterService.Get(ParameterTextConstants.LabelValue, GetComponentName())</b>
            @if (_isTextParameter)
            {
                <b class="column left">@TextParameterService.Get(ParameterTextConstants.LabelCulture, GetComponentName())</b>
            }
            <b class="column right">@TextParameterService.Get(ParameterTextConstants.LabelTimeEffective, GetComponentName())</b>
            <b class="column right">@TextParameterService.Get(ParameterTextConstants.LabelTimeApproved, GetComponentName())</b>
            <b class="column right">@TextParameterService.Get(ParameterTextConstants.LabelTimeCreated, GetComponentName())</b>
        </TableHeader>
        <TableRow>
            @if (Current == context.ID)
            {
                <MaterialIcon Icon="chevron_right" Size="18px"/>
            }
            else if (context.TimeApproved == null)
            {
                <MaterialIcon Icon="how_to_reg" Size="18px" @onclick="() => ApproveParameter(context)"/>
            }
            else if (context.TimeEffective > DateTime.UtcNow)
            {
                <MaterialIcon Icon="delete" Size="18px" @onclick="() => DeleteParameter(context)"/>
            }
            else
            {
                <MaterialIcon Icon="reset_settings" Size="18px" @onclick="() => OnClone.InvokeAsync(context)"/>
            }
            <span class="column left">@context.Value</span>

            @if (_isTextParameter && context is EntityDataParameterText text)
            {
                <span class="column left">@text.Culture</span>
            }

            <span class="column right">@SystemConstantService.AsDateTime(context.TimeEffective)</span>
            <span class="column right">@SystemConstantService.AsDateTime(context.TimeApproved)</span>
            <span class="column right">@SystemConstantService.AsDateTime(context.TimeCreated)</span>
        </TableRow>
    </Table>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchemaParameter SchemaParameter { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{GetComponentName()}";

    [Parameter]
    public EventCallback<T> OnClone { get; set; }

    [CascadingParameter(Name = nameof(CanLoad))]
    public bool? CanLoad { get; set; }
    private bool CanLoadCurrent => CanLoad ?? false;

    private bool _isTextParameter;
    private bool _cacheCanLoad;

    private IReadOnlyList<T> List => StateDataParameter.Value.TryGetSortedList(ScopeCurrent, out IReadOnlyList<T>? list) ? list : [];
    private Guid Current => List.Count != 0 ? List.FirstOrDefault(x => x.TimeEffective < DateTime.UtcNow && x.TimeApproved != null)?.ID ?? Guid.Empty : Guid.Empty;
    private bool IsLoading => StateDataParameter.Value.TryGetLoading(ScopeCurrent, FeatureDataParameterActionKind.List, out bool isLoading) && isLoading;

    protected override void OnInitialized()
    {
        _isTextParameter = typeof(T) == typeof(EntityDataParameterText);
    }

    protected override void OnParametersSet()
    {
        if (CanLoadCurrent && !_cacheCanLoad && !IsLoading)
        {
            Dispatcher.Dispatch(new FeatureDataParameterReducers.ListAction(ScopeCurrent, new()
            {
                SchemaIdentifier = SchemaParameter.SchemaIdentifier,
                SortColumn = nameof(EntityDataParameter.TimeEffective),
                SortDirection = ListSortDirection.Descending,
                PageSize = 100,
            }));
        }

        _cacheCanLoad = CanLoadCurrent;
    }

    private void ApproveParameter(EntityDataParameter entity)
    {
        Dispatcher.Dispatch(new FeatureDataParameterReducers.ApproveAction(ScopeCurrent, new() { ID = entity.ID }));
    }

    private void DeleteParameter(EntityDataParameter entity)
    {
        Dispatcher.Dispatch(new FeatureDataParameterReducers.DeleteAction(ScopeCurrent, new() { ID = entity.ID }));
    }

    private static string GetStyle()
    {
        string columns = typeof(T).Name switch
        {
            nameof(EntityDataParameterText) => "max-content 1fr max-content max-content max-content max-content",
            _ => "max-content 1fr max-content max-content max-content"
        };

        return $"grid-template-columns: {columns};";
    }

}
