@inject IState<FeatureDataParameterState> StateDataParameter
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible Loading="IsLoadingList" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <h3>@SchemaParameter.Name</h3>
        </Header>

        <Content>
            @switch (SchemaParameter)
            {
                case EntitySchemaParameterStyle parameterStyle:
                    <DataParameterListItemStyle SchemaParameter="@parameterStyle"/>
                    break;
                case EntitySchemaParameterSystem parameterSystem:
                    <DataParameterListItemSystem SchemaParameter="@parameterSystem"/>
                    break;
                case EntitySchemaParameterText parameterText:
                    <DataParameterListItemText SchemaParameter="@parameterText"/>
                    break;
            }
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchemaParameter SchemaParameter { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{GetComponentName()}:{SchemaParameter.SchemaIdentifier}";

    private bool _isCollapsed = true;

    private bool IsLoadingList => StateDataParameter.Value.TryGetLoading(ScopeCurrent, FeatureDataParameterActionKind.List, out bool isLoading) && isLoading;

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;
        if (_isCollapsed || IsLoadingList) return;

        Dispatcher.Dispatch(new FeatureDataParameterReducers.ListAction(ScopeCurrent, new() { SchemaIdentifier = SchemaParameter.SchemaIdentifier }));
    }

}
