@inject IState<FeatureDataParameterState> StateDataParameter
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <h3>@SchemaParameter.Name</h3>
        </Header>

        <Content>
            <CascadingValue Value="!_isCollapsed" Name="CanLoad">
                @switch (SchemaParameter)
                {
                    case EntitySchemaParameterStyle parameterStyle:
                        <DataParameterListItemStyle Scope="@ScopeCurrent" SchemaParameter="@parameterStyle"/>
                        break;
                    case EntitySchemaParameterSystem parameterSystem:
                        <DataParameterListItemSystem Scope="@ScopeCurrent" SchemaParameter="@parameterSystem"/>
                        break;
                    case EntitySchemaParameterText parameterText:
                        <DataParameterListItemText Scope="@ScopeCurrent" SchemaParameter="@parameterText"/>
                        break;
                }
            </CascadingValue>
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchemaParameter SchemaParameter { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{ComponentName}:{SchemaParameter.SchemaIdentifier}";

    private bool _isCollapsed = true;

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;
    }

}
