@inject IState<FeatureSchemaState> StateSchema
@inject IState<FeatureSchemaElementListState> StateElement
@inject IState<FeatureTextState> StateText
@inject IDispatcher Dispatcher
@inject TextService TextService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="header">
        <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">@Schema.Name</DynamicHTMLTag>
        <div class="action-list">
            @if (!Schema.IsActive)
            {
                <Button Status="StatusEnum.Success" @onclick="OnButtonActivateClick">Activate</Button>
            }

            @if (Schema.TimeActivated == null)
            {
                <Button Status="StatusEnum.Error" @onclick="OnButtonDeleteClick">Delete</Button>
            }

            <Button Status="StatusEnum.Info" @onclick="OnButtonCloneClick">Clone</Button>
            <Button Status="StatusEnum.Warning" @onclick="OnButtonEditClick">Edit</Button>
        </div>

    </div>

    @if (!_isEditMode)
    {
        <div>@Schema.Note</div>
        <div>@Schema.IsActive</div>
        <div>@Schema.TimeActivated</div>
        <div>@Schema.TimeCreated</div>
    }
    else
    {
        <FormSchemaUpdate Schema="Schema" OnSubmit="OnButtonEditSubmit">
            <div class="action-list">
                <Button Status="StatusEnum.Success" Loading="IsLoadingUpdate" type="submit">
                    @TextService.Get(TextConstants.ButtonUpdate)
                </Button>

                <Button Status="StatusEnum.Error" Loading="IsLoadingUpdate" type="button" @onclick="OnButtonEditCancel">
                    @TextService.Get(TextConstants.ButtonCancel)
                </Button>
            </div>
        </FormSchemaUpdate>
    }

    <SchemaListElementView ID="Schema.ID" HeaderLevel="HeaderLevelCurrent.GetNext()"/>

</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchema Schema { get; set; }

    [Parameter]
    public string? Context { get; set; }
    private string ContextCurrent => Context ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H3;

    private bool _isEditMode;

    private bool IsLoadingUpdate => StateSchema.Value.TryGetLoading(ContextCurrent, FeatureSchemaActionKind.Update, out bool value) && value;

    private void OnButtonEditClick()
    {
        _isEditMode = true;
    }

    private void OnButtonEditSubmit(IWebFormContext<RequestSchemaUpdate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaReducers.SchemaUpdateAction(ContextCurrent, value.Model));
        _isEditMode = false;
    }

    private void OnButtonEditCancel()
    {
        _isEditMode = false;
    }

    private void OnButtonActivateClick()
    {
        Dispatcher.Dispatch(new FeatureSchemaReducers.SchemaActivateAction(ContextCurrent, new() { ID = Schema.ID }));
    }

    private void OnButtonDeleteClick()
    {
        Dispatcher.Dispatch(new FeatureSchemaReducers.SchemaDeleteAction(ContextCurrent, new() { ID = Schema.ID }));
    }

    private void OnButtonCloneClick()
    {
        Dispatcher.Dispatch(new FeatureSchemaReducers.SchemaCloneAction(ContextCurrent, new() { ID = Schema.ID }));
    }

}
