@inject IState<FeatureSchemaContextState> StateContext
@inject TextService TextService
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible Loading="IsLoading" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <div class="title">
                <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Context list</DynamicHTMLTag>
                <NavLink href="@Link">
                    <MaterialIcon Icon="arrow_right_alt" Size="@Size"/>
                </NavLink>
            </div>
        </Header>
        <Content>
            <Table class="grid" List="List">
                <TableHeader>
                    <strong>@TextService.Get(ParameterTextConstants.LabelSchemaIdentifier)</strong>
                    <strong>@TextService.Get(ParameterTextConstants.LabelName)</strong>
                    <strong>@TextService.Get(ParameterTextConstants.LabelNote)</strong>
                    <strong>@TextService.Get(ParameterTextConstants.LabelTitle)</strong>
                    <strong>@TextService.Get(ParameterTextConstants.LabelDescription)</strong>
                    <strong>@TextService.Get(ParameterTextConstants.LabelTimeCreated)</strong>
                </TableHeader>
                <TableRow>
                    <span>@context.SchemaIdentifier</span>
                    <span>@context.Name</span>
                    <span>@context.Note</span>
                    <span>@context.TitleTextParameter?.Name</span>
                    <span>@context.DescriptionTextParameter?.Name</span>
                    <span>@context.TimeCreated</span>
                </TableRow>
            </Table>
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public required Guid SchemaID { get; set; }

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H4;

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{GetComponentName()}:{SchemaID}";

    private bool _isCollapsed = true;

    private string Size => $"var(--size-text-{HeaderLevelCurrent.ToText()})";
    private string Link => $"/schema/{SchemaID}/context";
    private bool IsLoading => StateContext.Value.TryGetLoading(ScopeCurrent, FeatureSchemaContextActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaContext> List => StateContext.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaContext>? value) ? value : [];

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;
        if (_isCollapsed || StateContext.Value.List.ContainsKey(ScopeCurrent) || IsLoading) return;
        Dispatcher.Dispatch(new FeatureSchemaContextReducers.ListAction(ScopeCurrent, new() { SchemaID = SchemaID }));
    }

}
