@inject IState<FeatureSchemaContextState> StateContext
@inject TextParameterService TextParameterService
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Table class="grid" List="List">
        <TableHeader>
            <strong>@TextParameterService.Get(ParameterTextConstants.LabelSchemaIdentifier)</strong>
            <strong>@TextParameterService.Get(ParameterTextConstants.LabelName)</strong>
            <strong>@TextParameterService.Get(ParameterTextConstants.LabelNote)</strong>
            <strong>@TextParameterService.Get(ParameterTextConstants.LabelTitle)</strong>
            <strong>@TextParameterService.Get(ParameterTextConstants.LabelDescription)</strong>
            <strong>@TextParameterService.Get(ParameterTextConstants.LabelTimeCreated)</strong>
        </TableHeader>
        <TableRow>
            <span>@context.Row.SchemaIdentifier</span>
            <span>@context.Row.Name</span>
            <span>@context.Row.Note</span>
            <span>@context.Row.TitleTextParameter?.Name</span>
            <span>@context.Row.DescriptionTextParameter?.Name</span>
            <span>@context.Row.TimeCreated</span>
        </TableRow>
        <Placeholder>
            No items here
        </Placeholder>
    </Table>

    @* <Collapsible Loading="IsLoading" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed"> *@
    @*     <Header> *@
    @*         <div class="title"> *@
    @*             <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Context list</DynamicHTMLTag> *@
    @*             <NavLink href="@Link"> *@
    @*                 <MaterialIcon Icon="arrow_right_alt" Size="@Size"/> *@
    @*             </NavLink> *@
    @*         </div> *@
    @*     </Header> *@
    @*     <Content> *@
    @* *@
    @*     </Content> *@
    @* </Collapsible> *@
</div>

@code {

    [Parameter, EditorRequired]
    public required Guid SchemaID { get; set; }

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H4;

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{ComponentName}:{SchemaID}";

    private bool _isCollapsed = true;

    private string Size => $"var(--size-text-{HeaderLevelCurrent.ToText()})";
    private string Link => $"/schema/{SchemaID}/context";
    private bool IsLoading => StateContext.Value.TryGetLoading(ScopeCurrent, FeatureSchemaContextActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaContext> List => StateContext.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaContext>? value) ? value : [];

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;
        if (_isCollapsed || StateContext.Value.List.ContainsKey(ScopeCurrent) || IsLoading) return;
        Dispatcher.Dispatch(new FeatureSchemaContextReducers.ListAction(ScopeCurrent, new() { SchemaID = SchemaID }));
    }

}
