@page "/Schema/{ID:guid}/Parameter"
@inherits PageComponent

<PageTitle>Administration | Context</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>
            <SchemaParameterListFilter Scope="@Scope" SchemaID="ID" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
        </Left>
        <Content>
            <SchemaParameterListView Scope="@Scope" SchemaID="ID" HeaderLevel="HTMLHeaderLevelEnum.H1">
                <SchemaParameterListGroup Schema="context.Schema" SchemaParameter="context.SchemaParameter" Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
            </SchemaParameterListView>
        </Content>
        <Right>
            <SchemaParameterListCreate Scope="@Scope" SchemaID="ID" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
        </Right>
    </MagazineFrame>
</div>

@code {

    [Parameter]
    public Guid ID { get; set; }

    private string Scope => ID.ToString();

}
