@page "/Schema/{ID:guid}"
@inject IState<FeatureSchemaState> StateSchema
@inject IDispatcher Dispatcher
@inject SystemParameterService SystemParameterService
@inherits FluxorPageComponent

<PageTitle>@(Schema?.Name ?? "Schema") | Administration</PageTitle>

<Loader Loading="@IsLoading">
    <div class="@CssClass">
        @if (Schema != null)
        {
            <MagazineFrame>
                <Left>
                </Left>
                <Content>
                    <SchemaEntityView Schema="Schema" Scope="@Scope"/>
                </Content>
                <Right>
                    @if (SystemParameterService.CanPerformSchemaAction(Schema, ParameterSystemConstants.SchemaInactiveEntityEdit, ParameterSystemConstants.SchemaDeactivatedEntityEdit))
                    {
                        <SchemaEntityUpdate Schema="Schema" Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
                    }
                </Right>
            </MagazineFrame>
        }
    </div>
</Loader>

<div class="@CssClass">

</div>

@code {

    [Parameter]
    public Guid ID { get; set; }

    private string Scope => $"{GetComponentName()}:{ID}";

    private bool IsLoading => StateSchema.Value.TryGetLoading(Scope, FeatureSchemaActionKind.Find, out bool value) && value;
    private EntitySchema? Schema => StateSchema.Value.TryGetFind(Scope, out EntitySchema? value) ? value : null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Dispatcher.Dispatch(new FeatureSchemaReducers.FindAction(Scope, new() { ID = ID }));
    }

}