@page "/Schema"
@inherits PageComponent

<PageTitle>Schema | Administration</PageTitle>

<div class="@CssClass">
    <MagazineFrame>
        <Left>
            <SchemaListFilter Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
        </Left>
        <Content>
            <SchemaListView Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H1">
                <SchemaListGroup Schema="context" Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
            </SchemaListView>
        </Content>
        <Right>
            <SchemaListCreate Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
        </Right>
    </MagazineFrame>
</div>

@code {

    private string Scope => ComponentName;

}
