@page "/Schema/{ID:guid}/Property"
@inject IState<FeatureSchemaState> StateSchema
@inject IDispatcher Dispatcher
@inject SystemParameterService SystemParameterService
@inherits FluxorPageComponent

<PageTitle>Parameter | Administration</PageTitle>

<Loader Loading="@IsLoading">
    <div class="@CssClass">
        @if (Schema != null)
        {
            <MagazineFrame>
                <Left>
                    <SchemaPropertyListFilter Scope="@Scope" SchemaID="ID" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
                </Left>
                <Content>
                    <SchemaPropertyListView Scope="@Scope" SchemaID="ID" HeaderLevel="HTMLHeaderLevelEnum.H1">
                        <SchemaPropertyListGroup Schema="Schema" SchemaProperty="context" Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
                    </SchemaPropertyListView>
                </Content>
                <Right>
                    @if (SystemParameterService.CanPerformSchemaAction(Schema, ParameterSystemConstants.SchemaInactivePropertyAdd, ParameterSystemConstants.SchemaDeactivatedPropertyAdd))
                    {
                        <SchemaPropertyListCreate Scope="@Scope" SchemaID="ID" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
                    }
                </Right>
            </MagazineFrame>
        }
    </div>
</Loader>

@code {

    [Parameter]
    public Guid ID { get; set; }

    private string Scope => $"{ComponentName}:{ID}";

    private bool IsLoading => StateSchema.Value.TryGetLoading(Scope, FeatureSchemaActionKind.Find, out bool value) && value;
    private EntitySchema? Schema => StateSchema.Value.TryGetFind(Scope, out EntitySchema? value) ? value : null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Dispatcher.Dispatch(new FeatureSchemaReducers.FindAction(Scope, new() { ID = ID }));
    }

}
