@page "/Schema/{SchemaID:guid}/Element/{ElementID:guid}"
@inject IState<FeatureSchemaState> StateSchema
@inject IState<FeatureSchemaElementState> StateSchemaElement
@inject IDispatcher Dispatcher
@inject SystemParameterService SystemParameterService
@inherits FluxorPageComponent

<PageTitle>@(SchemaElement?.Name ?? "Element") | Administration</PageTitle>

<Loader Loading="@IsLoading">
    <div class="@CssClass">
        @if (Schema != null && SchemaElement != null)
        {
            <MagazineFrame>
                <Left>
                </Left>
                <Content>
                    <SchemaElementEntityView Schema="Schema" SchemaElement="SchemaElement" Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H1"/>
                </Content>
                <Right>
                    @if (SystemParameterService.CanPerformSchemaAction(Schema, ParameterSystemConstants.SchemaInactiveElementEdit, ParameterSystemConstants.SchemaDeactivatedElementEdit))
                    {
                        <SchemaElementEntityUpdate SchemaElement="SchemaElement" Scope="@Scope" HeaderLevel="HTMLHeaderLevelEnum.H2"/>
                    }
                </Right>
            </MagazineFrame>
        }
    </div>
</Loader>

<div class="@CssClass">

</div>

@code {

    [Parameter]
    public Guid SchemaID { get; set; }

    [Parameter]
    public Guid ElementID { get; set; }

    private string Scope => $"{GetComponentName()}:{SchemaID}:{ElementID}";

    private bool IsLoadingSchema => StateSchema.Value.TryGetLoading(Scope, FeatureSchemaActionKind.Find, out bool value) && value;
    private EntitySchema? Schema => StateSchema.Value.TryGetFind(Scope, out EntitySchema? value) ? value : null;

    private bool IsLoadingElement => StateSchemaElement.Value.TryGetLoading(Scope, FeatureSchemaElementActionKind.Find, out bool value) && value;
    private EntitySchemaElement? SchemaElement => StateSchemaElement.Value.TryGetFind(Scope, out EntitySchemaElement? value) ? value : null;

    private bool IsLoading => IsLoadingSchema || IsLoadingElement;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Dispatcher.Dispatch(new FeatureSchemaReducers.FindAction(Scope, new() { ID = SchemaID }));
        Dispatcher.Dispatch(new FeatureSchemaElementReducers.FindAction(Scope, new() { ID = ElementID }));
    }

}