@inject APIHttpClient APIHttpClient
@inject TextService TextService
@inject UserAuthenticationStateProvider AuthProvider
@using Noxy.NET.EntityManagement.Domain.Requests.Authentication
@using Noxy.NET.EntityManagement.Domain.Responses.Authentication
@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="content">
        <div class="column">
            <h2>@TextService.Get(TextConstants.HeaderFormSignUp)</h2>

            <FormAuthenticationSignUp OnSubmit="SignUpFormSubmit">
                <Button Status="StatusEnum.Info" type="submit">
                    @TextService.Get(TextConstants.ButtonSignUp, GetComponentName())
                </Button>
            </FormAuthenticationSignUp>
        </div>

        <div class="column">
            <h2>@TextService.Get(TextConstants.HeaderFormSignIn)</h2>

            <FormAuthenticationSignIn OnSubmit="SignInFormSubmit">
                <Button Status="StatusEnum.Success" type="submit">
                    @TextService.Get(TextConstants.ButtonSignIn, GetComponentName())
                </Button>
            </FormAuthenticationSignIn>
        </div>
    </div>
</div>

@code {

    private async Task SignInFormSubmit(IWebFormContext<RequestAuthenticationSignIn> context)
    {
        try
        {
            ResponseAuthenticationSignIn result = await APIHttpClient.SendRequest(context.Model);
            await AuthProvider.UpdateIdentity(result.JWT);
        }
        catch (Exception e)
        {
            context.HandleException(e);
        }
    }

    private async Task SignUpFormSubmit(IWebFormContext<RequestAuthenticationSignUp> context)
    {
        try
        {
            ResponseAuthenticationSignUp result = await APIHttpClient.SendRequest(context.Model);
            await AuthProvider.UpdateIdentity(result.JWT);
        }
        catch (Exception e)
        {
            context.HandleException(e);
        }
    }

}