@inherits BaseRequestForm<RequestAuthenticationSignUp, ResponseAuthenticationSignUp>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestAuthenticationSignUp" Context="@Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Context.Model.Email))" Description="@GetDescription(nameof(Context.Model.Email))"
                        @bind-Value="Context.Model.Email"/>

        <InputGroupPassword DisplayName="@GetDisplayName(nameof(Context.Model.Password))" Description="@GetDescription(nameof(Context.Model.Password))"
                            @bind-Value="Context.Model.Password"/>

        <InputGroupPassword DisplayName="@GetDisplayName(nameof(Context.Model.ConfirmPassword))" Description="@GetDescription(nameof(Context.Model.ConfirmPassword))"
                            Autocomplete="WebFormInputFieldPasswordAutocompleteEnum.NewPassword" @bind-Value="Context.Model.ConfirmPassword"/>

        @ChildContent
    </WebForm>
</div>

@code {

    protected override WebFormContext<RequestAuthenticationSignUp> CreateContext()
    {
        return new(new());
    }

}
