@using Noxy.NET.EntityManagement.Domain.Requests.Authentication
@inherits Noxy.NET.EntityManagement.Presentation.Abstractions.BaseRequestForm<Noxy.NET.EntityManagement.Domain.Requests.Authentication.RequestAuthenticationSignIn, Noxy.NET.EntityManagement.Domain.Responses.Authentication.ResponseAuthenticationSignIn>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestAuthenticationSignIn" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Context.Model.Email))" Description="@GetDescription(nameof(Context.Model.Email))"
                        @bind-Value="Context.Model.Email"/>

        <InputGroupPassword DisplayName="@GetDisplayName(nameof(Context.Model.Password))" Description="@GetDescription(nameof(Context.Model.Password))"
                            Autocomplete="WebFormInputFieldPasswordAutocompleteEnum.CurrentPassword" @bind-Value="Context.Model.Password"/>

        @ChildContent
    </WebForm>
</div>

@code {

    protected override WebFormContext<RequestAuthenticationSignIn> CreateContext()
    {
        return new(new());
    }

}
