@inherits BaseRequestForm<RequestAuthenticationSignIn, ResponseAuthenticationSignIn>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestAuthenticationSignIn" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Email))" Description="@GetDescription(nameof(Model.Email))"
                        @bind-Value="Model.Email"/>

        <InputGroupPassword DisplayName="@GetDisplayName(nameof(Model.Password))" Description="@GetDescription(nameof(Model.Password))"
                            Autocomplete="WebFormInputFieldPasswordAutocompleteEnum.CurrentPassword" @bind-Value="Model.Password"/>

        @ChildContent
    </WebForm>
</div>

@code {

    protected override WebFormContext<RequestAuthenticationSignIn> CreateContext()
    {
        return new(new());
    }

}
