@inherits BaseRequestForm<RequestSchemaParameterSystemUpdate, ResponseSchemaParameterSystemUpdate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaParameterSystemUpdate" Context="Context" ResetAfterSubmit="false" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.SchemaIdentifier))" Description="@GetDescription(nameof(Model.SchemaIdentifier))" @bind-Value="Model.SchemaIdentifier"/>

        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Name))" Description="@GetDescription(nameof(Model.Name))" @bind-Value="Model.Name"/>

        <InputGroupTextArea DisplayName="@GetDisplayName(nameof(Model.Note))" Description="@GetDescription(nameof(Model.Note))" @bind-Value="Model.Note"/>

        <InputGroupCheckbox Option="true" @bind-Value="Model.IsApprovalRequired" DisplayName="@GetDisplayName(nameof(Model.IsApprovalRequired))" Description="@GetDescription(nameof(Model.IsApprovalRequired))">
            @TextService.Get(TextConstants.ValueOptionYes)
        </InputGroupCheckbox>

        <InputGroupCheckbox Option="true" @bind-Value="Model.IsSystemDefined" DisplayName="@GetDisplayName(nameof(Model.IsSystemDefined))" Description="@GetDescription(nameof(Model.IsSystemDefined))">
            @TextService.Get(TextConstants.ValueOptionYes)
        </InputGroupCheckbox>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchemaParameterSystem SchemaParameter { get; set; }

    protected override WebFormContext<RequestSchemaParameterSystemUpdate> CreateContext()
    {
        return new(new()
        {
            ID = SchemaParameter.ID,
            SchemaIdentifier = SchemaParameter.SchemaIdentifier,
            Name = SchemaParameter.Name,
            Note = SchemaParameter.Note,
            IsApprovalRequired = SchemaParameter.IsApprovalRequired,
            IsSystemDefined = SchemaParameter.IsSystemDefined,
        });
    }

}
