@inherits BaseRequestForm<RequestSchemaParameterSystemCreate, ResponseSchemaParameterSystemCreate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaParameterSystemCreate" Context="Context" ResetAfterSubmit="true" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.SchemaIdentifier))" Description="@GetDescription(nameof(Model.SchemaIdentifier))" @bind-Value="Model.SchemaIdentifier"/>

        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Name))" Description="@GetDescription(nameof(Model.Name))" @bind-Value="Model.Name"/>

        <InputGroupTextArea DisplayName="@GetDisplayName(nameof(Model.Note))" Description="@GetDescription(nameof(Model.Note))" @bind-Value="Model.Note"/>

        <InputGroupCheckbox Option="true" @bind-Value="Model.IsApprovalRequired" DisplayName="@GetDisplayName(nameof(Model.IsApprovalRequired))" Description="@GetDescription(nameof(Model.IsApprovalRequired))">
            @TextService.Get(ParameterTextConstants.ValueYes)
        </InputGroupCheckbox>

        <InputGroupCheckbox Option="true" @bind-Value="Model.IsSystemDefined" DisplayName="@GetDisplayName(nameof(Model.IsSystemDefined))" Description="@GetDescription(nameof(Model.IsSystemDefined))">
            @TextService.Get(ParameterTextConstants.ValueYes)
        </InputGroupCheckbox>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }


    protected override WebFormContext<RequestSchemaParameterSystemCreate> CreateContext()
    {
        return new(new() { SchemaID = SchemaID });
    }

}
