@inherits BaseRequestForm<RequestSchemaParameterList, ResponseSchemaParameterList>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaParameterList" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Search))" Description="@GetDescription(nameof(Model.Search))"
                        @bind-Value="Model.Search"/>

        <InputGroupSelect OptionList="IsSystemDefinedKeys" DisplayName="@GetDisplayName(nameof(Model.IsSystemDefined))" Description="@GetDescription(nameof(Model.IsSystemDefined))"
                          Name="@nameof(Model.IsSystemDefined)" @bind-Value:get="ToTriState(Model.IsSystemDefined)" @bind-Value:set="SetIsSystemDefined">
            <span>@TextService.Get(CollectionIsSystemDefined[context])</span>
        </InputGroupSelect>

        <InputGroupSelect OptionList="IsApprovalRequiredKeys" DisplayName="@GetDisplayName(nameof(Model.IsApprovalRequired))" Description="@GetDescription(nameof(Model.IsApprovalRequired))"
                          Name="@nameof(Model.IsApprovalRequired)" @bind-Value:get="ToTriState(Model.IsApprovalRequired)" @bind-Value:set="SetIsApprovalRequired">
            <span>@TextService.Get(CollectionIsApprovalRequired[context])</span>
        </InputGroupSelect>

        <InputGroupCheckboxSet OptionList="ParameterTypeKeys" DisplayName="@GetDisplayName(nameof(Model.ParameterType))" Description="@GetDescription(nameof(Model.ParameterType))"
                               @bind-Value:get="Model.ParameterType" @bind-Value:set="SetParameterType">
            <span>@TextService.Get(CollectionType[context.Option])</span>
        </InputGroupCheckboxSet>

        <InputGroupSelectSorting OptionSet="SortOptionSet" Name="@nameof(Model.Sorting)" DisplayName="@GetDisplayName(nameof(Model.Sorting))" Description="@GetDescription(nameof(Model.Sorting))" @bind-Value="@Model.Sorting"/>

        <InputGroupSelectPageSize DisplayName="@GetDisplayName(nameof(Model.PageSize))" Description="@GetDescription(nameof(Model.PageSize))" @bind-Value="Model.PageSize"/>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    private static readonly Dictionary<string, string> SortOptionSet = new()
    {
            { nameof(EntitySchemaElement.ID), ParameterTextConstants.LabelID },
            { nameof(EntitySchemaElement.Name), ParameterTextConstants.LabelName },
            { nameof(EntitySchemaElement.Weight), ParameterTextConstants.LabelWeight },
            { nameof(EntitySchemaElement.TimeCreated), ParameterTextConstants.LabelTimeCreated },
    };

    private static readonly Dictionary<int, string> CollectionIsSystemDefined = new()
    {
            { -1, ParameterTextConstants.ValueIsSystemDefinedNeutral },
            { 0, ParameterTextConstants.ValueIsSystemDefinedYes },
            { 1, ParameterTextConstants.ValueIsSystemDefinedNo }
    };

    private static readonly Dictionary<int, string> CollectionIsApprovalRequired = new()
    {
            { -1, ParameterTextConstants.ValueIsApprovalRequiredNeutral },
            { 0, ParameterTextConstants.ValueIsApprovalRequiredYes },
            { 1, ParameterTextConstants.ValueIsApprovalRequiredNo }
    };

    private static readonly Dictionary<string, string> CollectionType = new()
    {
            { nameof(EntitySchemaParameterStyle), ParameterTextConstants.LabelParameterStyle },
            { nameof(EntitySchemaParameterSystem), ParameterTextConstants.LabelParameterSystem },
            { nameof(EntitySchemaParameterText), ParameterTextConstants.LabelParameterText }
    };

    private static readonly HashSet<int> IsSystemDefinedKeys = [..CollectionIsSystemDefined.Keys];
    private static readonly HashSet<int> IsApprovalRequiredKeys = [..CollectionIsApprovalRequired.Keys];
    private static readonly HashSet<string> ParameterTypeKeys = [..CollectionType.Keys];

    protected override WebFormContext<RequestSchemaParameterList> CreateContext()
    {
        return new(new() { SchemaID = SchemaID, SortColumn = nameof(EntitySchemaParameter.Name), SortDirection = ListSortDirection.Descending });
    }

    private static int ToTriState(bool? value) => value switch
    {
        true => 1,
        false => 0,
        _ => -1
    };

    private static bool? FromTriState(int value) => value switch
    {
        1 => true,
        0 => false,
        _ => null
    };

    private void SetParameterType(HashSet<string>? value) => Model.ParameterType = value;
    private void SetIsSystemDefined(int value) => Model.IsSystemDefined = FromTriState(value);
    private void SetIsApprovalRequired(int value) => Model.IsApprovalRequired = FromTriState(value);


}
