@inherits BaseInputControl<DateTime?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputElementDate @attributes="InputAttributes" class="input" ID="@IDCurrent" Name="@GetName()" UseTime="@UseTime" Value="@Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression"/>
</div>

@code {

    [Parameter]
    public bool? UseTime { get; set; }

}
