@inject IJSRuntime JS
@inherits BaseInput<BaseColor>
@implements IAsyncDisposable

<div @attributes="AdditionalAttributes" class="@CssClass" disabled="@Disabled" style="anchor-name: @_anchor; position: relative;">
    <div class="control">
        <InputControlText @attributes="AdditionalAttributes" class="input" ID="@IDCurrent" Name="@GetName()" Size="17" OnInputDelay="500" @bind-Value:get="_cacheInput" @bind-Value:set="SetValue"/>
        <button class="preview" popovertarget="@_popover" style="background-color: @ValueString;"></button>
    </div>

    <div id="@_popover" popover class="popover" style="position-anchor: @_anchor;">
        <div class="content">
            <div @ref="_windowRef" class="color-window" style="@GetWindowStyle()"></div>

            <InputElementRange class="color-scroll-hue" Min="0" Max="359" Step="1" @bind-Value:get="GetHueDouble()" @bind-Value:set="SetHueFromDouble"/>

            <div class="color-input-list">
                <InputControlText class="color-input color-red" maxlength="3" Size="3" @bind-Value:get="@CurrentRgb.Red.ToString()" @bind-Value:set="SetRedFromString"/>
                <InputControlText class="color-input color-green" maxlength="3" Size="3" @bind-Value:get="@CurrentRgb.Green.ToString()" @bind-Value:set="SetGreenFromString"/>
                <InputControlText class="color-input color-blue" maxlength="3" Size="3" @bind-Value:get="@CurrentRgb.Blue.ToString()" @bind-Value:set="SetBlueFromString"/>
                <InputControlText class="color-input color-alpha" maxlength="4" Size="3" @bind-Value:get="GetAlphaString()" @bind-Value:set="SetAlphaFromString"/>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool? Disabled { get; set; }

    private ElementReference _windowRef;
    private string _anchor = string.Empty;
    private string _popover = string.Empty;

    private IJSObjectReference? _refJs;
    private DotNetObjectReference<InputControlColor>? _refDotNet;

    private string? _cacheInput;
    private HsvColor _currentColor = new(0, 0, 0);

    private RgbColor CurrentRgb => _currentColor.ToRgb();
    private string ValueString => $"rgba({CurrentRgb.Red}, {CurrentRgb.Green}, {CurrentRgb.Blue}, {CurrentRgb.Alpha.ToString("0.00", CultureInfo.InvariantCulture)})";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _anchor = $"--color-anchor-{UUIDCode}";
        _popover = $"popover-{UUIDCode}";
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Value is null) return;
        HsvColor incomingHsv = Value.ToHsv();

        if (incomingHsv == _currentColor) return;
        _currentColor = incomingHsv;
        _cacheInput = CurrentRgb.ToCssString();
    }

    protected override async Task OnAfterFirstRenderAsync()
    {
        await base.OnAfterFirstRenderAsync();

        await using IJSObjectReference module = await JS.InvokeAsync<IJSObjectReference>("import", $"./_content/{Constants.AssemblyNameUIWebForm}/Components/InputControls/{ComponentName}.razor.js");
        _refDotNet = DotNetObjectReference.Create(this);
        _refJs = await module.InvokeAsync<IJSObjectReference>("init", _windowRef, _refDotNet);

        _cacheInput = CurrentRgb.ToCssString();
        await InvokeAsync(StateHasChanged);
    }

    private double? GetHueDouble() => (double)_currentColor.Hue;
    private string GetWindowStyle() => $"background-image: linear-gradient(to top, #000, transparent), linear-gradient(to right, #fff, transparent); background-color: hsl({_currentColor.Hue} 100% 50%);";
    private string GetAlphaString() => CurrentRgb.Alpha.ToString("0.00", CultureInfo.InvariantCulture);

    private void SetRedFromString(string? value) => UpdateRgbField(r: int.TryParse(value, out int r) ? Math.Clamp(r, 0, 255) : null);
    private void SetGreenFromString(string? value) => UpdateRgbField(g: int.TryParse(value, out int g) ? Math.Clamp(g, 0, 255) : null);
    private void SetBlueFromString(string? value) => UpdateRgbField(b: int.TryParse(value, out int b) ? Math.Clamp(b, 0, 255) : null);
    private void SetAlphaFromString(string? value) => UpdateRgbField(a: double.TryParse(value, NumberStyles.Any, CultureInfo.InvariantCulture, out double a) ? Math.Clamp(a, 0.0, 1.0) : null);

    private void SetValue(string? value)
    {
        _cacheInput = value;
        if (!BaseColor.TryParseCssColor(value, out BaseColor? color)) return;

        _currentColor = color.ToHsv();
        NotifyChange(color);
        StateHasChanged();
    }

    private void SetHueFromDouble(double? value)
    {
        int integerHue = (int)Math.Round(value ?? 0.0);
        _currentColor = new(integerHue, _currentColor.Saturation, _currentColor.Value, _currentColor.Alpha);
        _cacheInput = CurrentRgb.ToCssString();

        NotifyChange(CurrentRgb);
    }

    private void UpdateRgbField(int? r = null, int? g = null, int? b = null, double? a = null)
    {
        RgbColor updatedRgb = new(r ?? CurrentRgb.Red, g ?? CurrentRgb.Green, b ?? CurrentRgb.Blue, a ?? CurrentRgb.Alpha);
        _currentColor = updatedRgb.ToHsv();
        _cacheInput = updatedRgb.ToCssString();

        NotifyChange(updatedRgb);
    }

    [JSInvokable]
    public async Task UpdateColorPreviewFromJs(double saturationPercentage, double valuePercentage)
    {
        int integerSaturation = (int)Math.Round(saturationPercentage);
        int integerValue = (int)Math.Round(valuePercentage);
        _currentColor = new(_currentColor.Hue, integerSaturation, integerValue, _currentColor.Alpha);
        _cacheInput = CurrentRgb.ToCssString();

        await InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public void OnDragEnd()
    {
        _cacheInput = CurrentRgb.ToCssString();
        NotifyChange(CurrentRgb);
        InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            if (_refJs is not null)
            {
                await _refJs.InvokeVoidAsync("dispose");
                await _refJs.DisposeAsync();
            }

            _refDotNet?.Dispose();
        }
        catch (JSDisconnectedException)
        {
        }
    }

}