@inherits BaseInputControl<string>
@implements IBaseInputTextual

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputElementPassword @attributes="InputAttributes" ID="@IDCurrent" Name="@GetName()" Autocomplete="@Autocomplete" Size="Size" OnInputDelay="OnInputDelay" Value="@Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression"/>
</div>

@code {

    [Parameter]
    public WebFormInputFieldPasswordAutocompleteEnum? Autocomplete { get; set; }

    [Parameter]
    public int? Size { get; set; }

    [Parameter]
    public int? OnInputDelay { get; set; }

}
