@inherits BaseInput<FilterComparatorInt?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputControlInteger class="left" ID="@ID" Name="left" Size="5" @bind-Value="@_left" @bind-Value:after="PushUpdate"/>

    <InputControlSelect TOption="FilterComparatorTypeEnum" OptionList="_operators" Name="operator" @bind-Value:get="_operator" @bind-Value:set="SetOperator">
        @context.ToTextSymbol()
    </InputControlSelect>

    <InputControlInteger class="right" Name="right" Size="5" Disabled="@(_operator != FilterComparatorTypeEnum.Between)" @bind-Value="@_right" @bind-Value:after="PushUpdate"/>
</div>

@code {

    private int? _left;
    private int? _right;
    private FilterComparatorTypeEnum _operator = FilterComparatorTypeEnum.Equal;

    private readonly HashSet<FilterComparatorTypeEnum> _operators = Enum.GetValues<FilterComparatorTypeEnum>().ToHashSet();
    
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _left = Value?.Left;
        _right = Value?.Right;
        _operator = Value?.FilterComparatorType ?? FilterComparatorTypeEnum.Equal;
    }

    private void SetOperator(FilterComparatorTypeEnum op)
    {
        _operator = op;
        PushUpdate();
    }

    private void PushUpdate()
    {
        FilterComparatorInt? result = _operator switch
        {
            FilterComparatorTypeEnum.Between when _left is not null && _right is not null => new() { Left = _left, Right = _right, FilterComparatorType = _operator },
            FilterComparatorTypeEnum.Between => null,
            _ => _left is not null ? new() { Left = _left, Right = null, FilterComparatorType = _operator } : null
        };

        NotifyChange(result);
    }

}
