@inherits BaseInput<FilterBeamEffect?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputControlSelect TOption="FilterColorNameEnum?" OptionList="_colorOptions" ID="@ID" Name="@Name" @bind-Value:get="_color" @bind-Value:set="OnSelectColorChange">
        @(context?.ToTextString() ?? "[Default]")
    </InputControlSelect>

    <InputControlCheckbox class="temporary" Option="true" Disabled="@(Value is null)" @bind-Value:get="_isTemporary" @bind-Value:set="OnCheckboxTempChange">
        Temp
    </InputControlCheckbox>
</div>

@code {

    private readonly HashSet<FilterColorNameEnum?> _colorOptions = [null, .. Enum.GetValues<FilterColorNameEnum>().Cast<FilterColorNameEnum?>()];

    private FilterColorNameEnum? _color;
    private bool _isTemporary;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _color = Value?.Color;
        _isTemporary = Value?.IsTemporary ?? false;
    }

    private void OnSelectColorChange(FilterColorNameEnum? color)
    {
        _color = color;
        RegisterChange();
    }

    private void OnCheckboxTempChange(bool isTemporary)
    {
        _isTemporary = isTemporary;
        RegisterChange();
    }

    private void RegisterChange()
    {
        NotifyChange(_color is not null ? new FilterBeamEffect(_color.Value, _isTemporary) : null);
    }

}