@inherits BaseInput<FilterMinimapIcon?>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputControlSelect TOption="FilterIconShapeEnum?" OptionList="_shapeOptions" ID="@ID" Name="@Name" @bind-Value:get="_shape" @bind-Value:set="OnSelectShapeChange">
        @(context?.ToTextString() ?? "[Default]")
    </InputControlSelect>

    <InputControlSelect TOption="FilterColorNameEnum" OptionList="_colorOptions" Disabled="@(Value is null)" @bind-Value:get="_color" @bind-Value:set="OnSelectColorChange">
        @context.ToTextString()
    </InputControlSelect>

    <InputControlSelect TOption="FilterIconSizeEnum" OptionList="_sizeOptions" Disabled="@(Value is null)" @bind-Value:get="_size" @bind-Value:set="OnSelectSizeChange">
        @context.ToTextString()
    </InputControlSelect>
</div>

@code {

    private readonly HashSet<FilterIconShapeEnum?> _shapeOptions = [null, .. Enum.GetValues<FilterIconShapeEnum>().Cast<FilterIconShapeEnum?>()];
    private readonly HashSet<FilterColorNameEnum> _colorOptions = Enum.GetValues<FilterColorNameEnum>().ToHashSet();
    private readonly HashSet<FilterIconSizeEnum> _sizeOptions = Enum.GetValues<FilterIconSizeEnum>().ToHashSet();

    private FilterIconShapeEnum? _shape;
    private FilterColorNameEnum _color = FilterColorNameEnum.White;
    private FilterIconSizeEnum _size = FilterIconSizeEnum.Small;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _shape = Value?.Shape;
        _color = Value?.Color ?? FilterColorNameEnum.White;
        _size = Value?.Size ?? Enum.GetValues<FilterIconSizeEnum>().FirstOrDefault();
    }

    private void OnSelectShapeChange(FilterIconShapeEnum? shape)
    {
        _shape = shape;
        RegisterChange();
    }

    private void OnSelectColorChange(FilterColorNameEnum color)
    {
        _color = color;
        RegisterChange();
    }

    private void OnSelectSizeChange(FilterIconSizeEnum size)
    {
        _size = size;
        RegisterChange();
    }

    private void RegisterChange()
    {
        NotifyChange(_shape is not null ? new FilterMinimapIcon(_color, _size, _shape.Value) : null);
    }

}