@inject IState<FeatureSchemaElementState> StateElement
@inject IState<FeatureSchemaElementHasPropertyState> StateElementHasProperty
@inject TextService TextService
@inject IDispatcher Dispatcher
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible Loading="IsLoadingList" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Context list</DynamicHTMLTag>
        </Header>
        <Content>
            <Table class="grid" List="List">
                <TableHeader>
                    <strong></strong>
                    <strong>@TextService.Get(TextConstants.LabelSchemaIdentifier)</strong>
                    <strong>@TextService.Get(TextConstants.LabelName)</strong>
                    <strong>@TextService.Get(TextConstants.LabelNote)</strong>
                    <strong>@TextService.Get(TextConstants.LabelTimeCreated)</strong>
                </TableHeader>
                <TableRow>
                    <span>
                        <InputElementCheckbox Option="true" @bind-Value:get="@IsChecked(context.ID)" @bind-Value:set="x => SetChecked(x, context.ID)"/>
                    </span>
                    <span>@context.SchemaIdentifier</span>
                    <span>@context.Name</span>
                    <span>@context.Note</span>
                    <span>@context.TimeCreated</span>
                </TableRow>
            </Table>
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchema Schema { get; set; }

    [Parameter, EditorRequired]
    public EntitySchemaProperty SchemaProperty { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? $"{GetComponentName()}:{Schema.ID}";

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H4;

    private bool _isCollapsed = true;

    private bool IsLoading => IsLoadingList || IsLoadingJunction;
    private bool IsLoadingList => StateElement.Value.TryGetLoading(ScopeCurrent, FeatureSchemaElementActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaElement> List => StateElement.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaElement>? value) ? value : [];

    private bool IsLoadingJunction => StateElement.Value.TryGetLoading(ScopeCurrent, FeatureSchemaElementActionKind.List, out bool value) && value;
    private IReadOnlyList<EntitySchemaElementHasProperty> Junction => StateElementHasProperty.Value.TryGetList(ScopeCurrent, out IReadOnlyList<EntitySchemaElementHasProperty>? value) ? value : [];

    private bool IsChecked(Guid id)
    {
        return Junction.Any(x => x.EntityID == id);
    }

    private void SetChecked(bool value, Guid id)
    {
        if (value)
        {
            Dispatcher.Dispatch(new FeatureSchemaElementHasPropertyReducers.AddAction(ScopeCurrent, new() { SchemaPropertyID = SchemaProperty.ID, SchemaElementID = id }));
        }
        else
        {
            EntitySchemaElementHasProperty junction = Junction.Single(x => x.EntityID == id && x.RelationID == SchemaProperty.ID);
            Dispatcher.Dispatch(new FeatureSchemaElementHasPropertyReducers.DeleteAction(ScopeCurrent, new() { ID = junction.ID }));
        }
    }

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;

        if (_isCollapsed || StateElement.Value.List.ContainsKey(ScopeCurrent) || IsLoading) return;
        Dispatcher.Dispatch(new FeatureSchemaElementReducers.ListAction(ScopeCurrent, new() { SchemaID = Schema.ID }));
        Dispatcher.Dispatch(new FeatureSchemaElementHasPropertyReducers.ListAction(ScopeCurrent, new() { SchemaPropertyID = SchemaProperty.ID }));
    }

}
