@inherits BaseComponentFormSchema<FormModelSchemaPropertyInteger, EntitySchemaPropertyInteger>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateSchemaForm Context="Context" FormSubmit="context => FormSubmit(context.Model)">
        <Header>
            @TextService.Get(HeaderText)
        </Header>

        <Content>
            <InputGroupText DisplayName="@GetDisplayName(nameof(Context.Model.SchemaIdentifier))" Description="@GetDescription(nameof(Context.Model.SchemaIdentifier))" @bind-Value="Context.Model.SchemaIdentifier"/>
            <InputGroupText DisplayName="@GetDisplayName(nameof(Context.Model.Name))" Description="@GetDescription(nameof(Context.Model.Name))" @bind-Value="Context.Model.Name"/>
            <InputGroupText DisplayName="@GetDisplayName(nameof(Context.Model.Note))" Description="@GetDescription(nameof(Context.Model.Note))" @bind-Value="Context.Model.Note"/>
            <InputGroupCheckbox Option="true" DisplayName="@GetDisplayName(nameof(Context.Model.IsUnsigned))" Description="@GetDescription(nameof(Context.Model.IsUnsigned))" @bind-Value="Context.Model.IsUnsigned">
                <span>Is unsigned?</span>
            </InputGroupCheckbox>

            <InputGroupSelect DisplayName="@GetDisplayName(nameof(Context.Model.TitleTextParameterID))" Description="@GetDescription(nameof(Context.Model.TitleTextParameterID))" OptionList="OptionList" @bind-Value="Context.Model.TitleTextParameterID">
                <span>@GetOptionName(context)</span>
            </InputGroupSelect>

            <InputGroupSelect DisplayName="@GetDisplayName(nameof(Context.Model.DescriptionTextParameterID))" Description="@GetDescription(nameof(Context.Model.DescriptionTextParameterID))" OptionList="OptionList"
                              @bind-Value="Context.Model.DescriptionTextParameterID">
                <span>@GetOptionName(context)</span>
            </InputGroupSelect>
        </Content>

        <Actions>
            <Button Loading="Context.IsSubmitting" Status="StatusEnum.Success" type="submit">
                @SubmitText
            </Button>
        </Actions>
    </TemplateSchemaForm>
</div>

@code {

    private string HeaderText => Context.Model.ID == Guid.Empty ? TextConstants.HeaderFormCreateEntitySchemaPropertyInteger : TextConstants.HeaderFormUpdateEntitySchemaPropertyInteger;
    private IEnumerable<Guid> OptionList => (Schema.ParameterList?.Select(x => x.ID) ?? []).Append(Guid.Empty);

    private string GetOptionName(Guid? id)
    {
        return Schema.ParameterList?.FirstOrDefault(x => x.ID == id)?.GetValue().Name ?? string.Empty;
    }

    protected override WebFormContext<FormModelSchemaPropertyInteger> CreateContext()
    {
        return new(new(Value) { SchemaID = Schema.ID });
    }

}
