@inherits BaseRequestForm<RequestSchemaContextList, ResponseSchemaContextList>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaContextList" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Search))" Description="@GetDescription(nameof(Model.Search))"
                        @bind-Value="Model.Search"/>

        <InputGroupSelectSorting OptionSet="_sortOptionSet" Name="@nameof(Model.Sorting)" DisplayName="@GetDisplayName(nameof(Model.Sorting))" Description="@GetDescription(nameof(Model.Sorting))" @bind-Value="@Model.Sorting"/>

        <InputGroupSelectPageSize DisplayName="@GetDisplayName(nameof(Model.PageSize))" Description="@GetDescription(nameof(Model.PageSize))" @bind-Value="Model.PageSize"/>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter]
    public Guid? SchemaID { get; set; }

    private readonly Dictionary<string, string> _sortOptionSet = new()
    {
        { nameof(EntitySchemaContext.ID), TextConstants.LabelID },
        { nameof(EntitySchemaContext.Name), TextConstants.LabelName },
        { nameof(EntitySchemaContext.TimeCreated), TextConstants.LabelTimeCreated },
    };

    protected override WebFormContext<RequestSchemaContextList> CreateContext()
    {
        return new(new() { SchemaID = SchemaID, SortColumn = nameof(EntitySchema.Name), SortDirection = ListSortDirection.Descending });
    }

}
