@inject IState<FeatureSchemaParameterDataParameterListState> StateData
@inject TextService TextService
@inject APIHttpClient APIHttpClient
@inject SystemConstantService SystemConstantService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="create">
        <FormDataCreateTextParameter SchemaParameter="@SchemaParameter" OnSubmit="Submit">
            <div class="action-list">
                <Button type="submit">Create new value</Button>
            </div>
        </FormDataCreateTextParameter>
    </div>


    @if (TryGetData(out IReadOnlyList<EntityDataParameter> list))
    {
        <div class="table">
            <div class="header row">
                <b class="column left">@TextService.Get(TextConstants.LabelValue, GetComponentName())</b>
                <b class="column right">@TextService.Get(TextConstants.LabelTimeCreated, GetComponentName())</b>
                <b class="column right">@TextService.Get(TextConstants.LabelTimeEffective, GetComponentName())</b>
                <b class="column right">@TextService.Get(TextConstants.LabelTimeApproved, GetComponentName())</b>
            </div>

            <div class="body">
                @{
                    Guid current = GetCurrent(list);
                    foreach (EntityDataParameter item in list)
                    {
                        bool? isCurrent = current == item.ID ? true : false;
                        <div class="row" current="@isCurrent">
                            <span class="column left">@item.Value</span>
                            <span class="column right">@SystemConstantService.AsDate(item.TimeCreated)</span>
                            <span class="column right">@SystemConstantService.AsDate(item.TimeEffective)</span>
                            <span class="column right">@SystemConstantService.AsDate(item.TimeApproved)</span>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchemaParameterText SchemaParameter { get; set; }

    private bool TryGetData(out IReadOnlyList<EntityDataParameter> list)
    {
        return StateData.Value.Cache.TryGetValue(SchemaParameter.SchemaIdentifier, out list!);
    }

    private Guid GetCurrent(IReadOnlyList<EntityDataParameter> list)
    {
        return list.Count != 0
            ? list.Where(x => x.TimeEffective < DateTime.Now).OrderByDescending(x => x.TimeCreated).FirstOrDefault()?.ID ?? Guid.Empty
            : Guid.Empty;
    }

    private async Task Submit(WebFormContext<RequestDataParameterTextCreate> context)
    {
        try
        {
            await APIHttpClient.SendRequest(context.Model);
            context.Reset();
        }
        catch
        {
            // ignored
        }
    }

}
