@inject IState<FeatureSchemaParameterDataParameterListState> StateData
@inject IState<FeatureTextState> StateText
@inject IDispatcher Dispatcher
@inject TextService TextService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <Collapsible Loading="IsLoading" @bind-Collapsed:get="_isCollapsed" @bind-Collapsed:set="SetCollapsed">
        <Header>
            <h3>@SchemaParameter.Name</h3>
        </Header>

        <Content>
            @if (TryGetData(out IReadOnlyList<EntityDataParameter.Discriminator> list))
            {
                <div class="table">
                    <div class="header">
                        <b>@TextService.Get(TextConstants.LabelValue, GetComponentName())</b>
                        <b>@TextService.Get(TextConstants.LabelTimeCreated, GetComponentName())</b>
                        <b>@TextService.Get(TextConstants.LabelTimeEffectiveFrom, GetComponentName())</b>
                        <b>@TextService.Get(TextConstants.LabelTimeEffectiveTo, GetComponentName())</b>
                        <b>@TextService.Get(TextConstants.LabelTimeApproved, GetComponentName())</b>
                    </div>

                    <div class="body">
                        @foreach (EntityDataParameter.Discriminator item in list)
                        {
                            <div class="row">
                                <span>@item.GetValue().Value</span>
                                <span>@item.GetValue().TimeCreated</span>
                                <span>@item.GetValue().TimeEffective</span>
                                <span>@item.GetValue().TimeEffective</span>
                                <span>@item.GetValue().TimeApproved</span>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <p>No data available.</p>
            }
        </Content>
    </Collapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchemaParameter SchemaParameter { get; set; }

    private bool _isCollapsed = true;

    private bool IsLoading => StateData.Value.IsKeyLoading(SchemaParameter.SchemaIdentifier) || (StateData.Value.Cache.ContainsKey(SchemaParameter.SchemaIdentifier) && StateText.Value.IsScopeLoading(GetComponentName()));

    private void SetCollapsed(bool value)
    {
        _isCollapsed = value;
        if (_isCollapsed) return;

        string id = SchemaParameter.SchemaIdentifier;
        if (StateData.Value.Cache.ContainsKey(id) || StateData.Value.IsLoading) return;

        Dispatcher.Dispatch(new FeatureSchemaParameterDataParameterListReducers.LoadDataParameterListAction(id));
    }

    private bool TryGetData(out IReadOnlyList<EntityDataParameter.Discriminator> list)
    {
        return StateData.Value.Cache.TryGetValue(SchemaParameter.SchemaIdentifier, out list!);
    }

}
