@inject IState<FeatureSchemaState> State
@inject IDispatcher Dispatcher
@inject TextService TextService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Create new parameter</DynamicHTMLTag>

    <InputGroupSelect OptionList="_setType" DisplayName="@TextService.Get(TextConstants.LabelFormParameterType)" Description="@TextService.Get(TextConstants.HelpFormParameterType)" 
                      Name="@nameof(_valueType)" @bind-Value="_valueType">
        <span>@TextService.Get(context)</span>
    </InputGroupSelect>

    @switch (_valueType)
    {
        case TextConstants.LabelParameterStyle:
            <FormSchemaParameterStyleCreate SchemaID="SchemaID" OnSubmit="SubmitStyle">
                @SubmitAction()
            </FormSchemaParameterStyleCreate>
            break;
        case TextConstants.LabelParameterSystem:
            <FormSchemaParameterSystemCreate SchemaID="SchemaID" OnSubmit="SubmitSystem">
                @SubmitAction()
            </FormSchemaParameterSystemCreate>
            break;
        case TextConstants.LabelParameterText:
            <FormSchemaParameterTextCreate SchemaID="SchemaID" OnSubmit="SubmitText">
                @SubmitAction()
            </FormSchemaParameterTextCreate>
            break;
    }
</div>

@code {

    [Parameter, EditorRequired]
    public Guid SchemaID { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H2;

    private string _valueType = TextConstants.LabelParameterStyle;

    private readonly HashSet<string> _setType =
    [
        TextConstants.LabelParameterStyle,
        TextConstants.LabelParameterSystem,
        TextConstants.LabelParameterText
    ];

    private bool IsLoading => State.Value.TryGetLoading(ScopeCurrent, FeatureSchemaActionKind.Add, out bool value) && value;

    private void SubmitStyle(IWebFormContext<RequestSchemaParameterStyleCreate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.AddStyleAction(ScopeCurrent, value.Model));
    }

    private void SubmitSystem(IWebFormContext<RequestSchemaParameterSystemCreate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.AddSystemAction(ScopeCurrent, value.Model));
    }

    private void SubmitText(IWebFormContext<RequestSchemaParameterTextCreate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.AddTextAction(ScopeCurrent, value.Model));
    }

    private RenderFragment SubmitAction()
    {
        return
            @<div class="action-list">
                <Button Status="StatusEnum.Info" Loading="IsLoading" type="submit">
                    @TextService.Get(TextConstants.ButtonCreate)
                </Button>
            </div>;
    }

}
