@inject IState<FeatureSchemaParameterState> StateSchemaParameter
@inject IDispatcher Dispatcher
@inject TextService TextService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="header">
        <div class="title">
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">@SchemaParameter.Name</DynamicHTMLTag>
            <NavLink href="@Link">
                <MaterialIcon Icon="arrow_right_alt" Size="@Size"/>
            </NavLink>
        </div>

        <ButtonList Alignment="ButtonListAlignmentEnum.Right">
            @if (Schema.TimeActivated == null)
            {
                <Button Status="StatusEnum.Error" @onclick="OnButtonDeleteClick">Delete</Button>
                <Button Status="StatusEnum.Info" @onclick="OnButtonCloneClick">Clone</Button>
                <Button Status="StatusEnum.Warning" @onclick="ButtonEditClickerHandler">Edit</Button>
            }
        </ButtonList>

    </div>

    @if (!_isEditMode)
    {
        <div>
            <strong>@TextService.Get(TextConstants.LabelSchemaIdentifier, GetComponentName()):</strong>
            @SchemaParameter.SchemaIdentifier
        </div>
        <div>
            <strong>@TextService.Get(TextConstants.LabelName, GetComponentName()):</strong>
            @SchemaParameter.Name
        </div>
        <div>
            <strong>@TextService.Get(TextConstants.LabelNote, GetComponentName()):</strong>
            @SchemaParameter.Note
        </div>

        @if (SchemaParameter is EntitySchemaParameterText parameterText)
        {
            <div>
                <strong>@TextService.Get(TextConstants.LabelParameterTextType, GetComponentName()):</strong>
                @parameterText.Type
            </div>
        }

        <div>
            <strong>@TextService.Get(TextConstants.LabelIsApprovalRequired, GetComponentName())</strong>
            @(SchemaParameter.IsApprovalRequired ? TextService.Get(TextConstants.ValueYes) : TextService.Get(TextConstants.ValueNo))
        </div>
        <div>
            <strong>@TextService.Get(TextConstants.LabelIsSystemDefined, GetComponentName())</strong>
            @(SchemaParameter.IsSystemDefined ? TextService.Get(TextConstants.ValueYes) : TextService.Get(TextConstants.ValueNo))
        </div>
        <div>
            <strong>@TextService.Get(TextConstants.LabelTimeCreated, GetComponentName()):</strong>
            @SchemaParameter.TimeCreated
        </div>
    }
    else
    {
        switch (SchemaParameter)
        {
            case EntitySchemaParameterText parameterText:
                <FormSchemaParameterTextUpdate SchemaParameter="parameterText" OnSubmit="FormEditTextSubmitHandler">
                    @GetSubmitAction()
                </FormSchemaParameterTextUpdate>
                break;
            case EntitySchemaParameterStyle parameterStyle:
                <FormSchemaParameterStyleUpdate SchemaParameter="parameterStyle" OnSubmit="FormEditStyleSubmitHandler">
                    @GetSubmitAction()
                </FormSchemaParameterStyleUpdate>
                break;
            case EntitySchemaParameterSystem parameterSystem:
                <FormSchemaParameterSystemUpdate SchemaParameter="parameterSystem" OnSubmit="FormEditSystemSubmitHandler">
                    @GetSubmitAction()
                </FormSchemaParameterSystemUpdate>
                break;
        }
    }
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchema Schema { get; set; }

    [Parameter, EditorRequired]
    public EntitySchemaParameter SchemaParameter { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H3;

    private bool _isEditMode;

    private string Size => $"var(--size-text-{HeaderLevelCurrent.ToText()})";
    private string Link => $"/schema/{Schema.ID}/parameter/{SchemaParameter.ID}";
    private bool IsLoadingUpdate => StateSchemaParameter.Value.TryGetLoading(ScopeCurrent, FeatureSchemaParameterActionKind.Update, out bool value) && value;

    private void ButtonEditClickerHandler()
    {
        _isEditMode = true;
    }

    private void ButtonEditCancelHandler()
    {
        _isEditMode = false;
    }

    private void FormEditStyleSubmitHandler(IWebFormContext<RequestSchemaParameterStyleUpdate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.UpdateStyleAction(ScopeCurrent, value.Model));
        _isEditMode = false;
    }

    private void FormEditSystemSubmitHandler(IWebFormContext<RequestSchemaParameterSystemUpdate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.UpdateSystemAction(ScopeCurrent, value.Model));
        _isEditMode = false;
    }

    private void FormEditTextSubmitHandler(IWebFormContext<RequestSchemaParameterTextUpdate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.UpdateTextAction(ScopeCurrent, value.Model));
        _isEditMode = false;
    }

    private void OnButtonDeleteClick()
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.DeleteAction(ScopeCurrent, new() { ID = SchemaParameter.ID }));
    }

    private void OnButtonCloneClick()
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.CloneAction(ScopeCurrent, new() { ID = SchemaParameter.ID }));
    }

    private RenderFragment GetSubmitAction()
    {
        return
            @<div class="action-list">
                <Button Status="StatusEnum.Success" Loading="IsLoadingUpdate" type="submit">
                    @TextService.Get(TextConstants.ButtonUpdate, GetComponentName())
                </Button>

                <Button Status="StatusEnum.Error" Loading="IsLoadingUpdate" type="button" @onclick="ButtonEditCancelHandler">
                    @TextService.Get(TextConstants.ButtonCancel, GetComponentName())
                </Button>
            </div>;
    }

}
