@inject IState<FeatureSchemaParameterState> StateSchemaParameter
@inject IDispatcher Dispatcher
@inject TextService TextService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="header">
        <div class="title">
            <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">@SchemaParameter.Name</DynamicHTMLTag>
            <NavLink href="@Link">
                <MaterialIcon Icon="arrow_right_alt" Size="@Size"/>
            </NavLink>
        </div>

        <div class="action-list">
            @if (Schema.TimeActivated == null)
            {
                <Button Status="StatusEnum.Error" @onclick="OnButtonDeleteClick">Delete</Button>
            }

            <Button Status="StatusEnum.Info" @onclick="OnButtonCloneClick">Clone</Button>
            <Button Status="StatusEnum.Warning" @onclick="OnButtonEditClick">Edit</Button>
        </div>

    </div>

    @if (!_isEditMode)
    {
        <div>
            <strong>@TextService.Get(TextConstants.LabelSchemaIdentifier):</strong>
            @SchemaParameter.SchemaIdentifier
        </div>
        <div>
            <strong>@TextService.Get(TextConstants.LabelName):</strong>
            @SchemaParameter.Name
        </div>
        <div>
            <strong>@TextService.Get(TextConstants.LabelNote):</strong>
            @SchemaParameter.Note
        </div>

        @if (SchemaParameter is EntitySchemaParameterText parameterText)
        {
            <div>
                <strong>@TextService.Get(TextConstants.LabelParameterTextType):</strong>
                @parameterText.Type
            </div>
        }

        <div>
            <strong>@TextService.Get(TextConstants.LabelIsApprovalRequired)</strong>
            @SchemaParameter.IsApprovalRequired
        </div>
        <div>
            <strong>@TextService.Get(TextConstants.LabelIsSystemDefined)</strong>
            @SchemaParameter.IsSystemDefined
        </div>
        <div>
            <strong>@TextService.Get(TextConstants.LabelTimeCreated):</strong>
            @SchemaParameter.TimeCreated
        </div>
    }
    else
    {
        switch (SchemaParameter)
        {
            case EntitySchemaParameterText parameterText:
                <FormSchemaParameterTextUpdate SchemaParameter="parameterText" OnSubmit="OnButtonEditTextSubmit">
                    <div class="action-list">
                        <Button Status="StatusEnum.Success" Loading="IsLoadingUpdate" type="submit">
                            @TextService.Get(TextConstants.ButtonUpdate)
                        </Button>

                        <Button Status="StatusEnum.Error" Loading="IsLoadingUpdate" type="button" @onclick="OnButtonEditCancel">
                            @TextService.Get(TextConstants.ButtonCancel)
                        </Button>
                    </div>
                </FormSchemaParameterTextUpdate>
                break;
            case EntitySchemaParameterStyle parameterStyle:
                <FormSchemaParameterStyleUpdate SchemaParameter="parameterStyle" OnSubmit="OnButtonEditStyleSubmit">
                    <div class="action-list">
                        <Button Status="StatusEnum.Success" Loading="IsLoadingUpdate" type="submit">
                            @TextService.Get(TextConstants.ButtonUpdate)
                        </Button>

                        <Button Status="StatusEnum.Error" Loading="IsLoadingUpdate" type="button" @onclick="OnButtonEditCancel">
                            @TextService.Get(TextConstants.ButtonCancel)
                        </Button>
                    </div>
                </FormSchemaParameterStyleUpdate>
                break;
            case EntitySchemaParameterSystem parameterSystem:
                <FormSchemaParameterSystemUpdate SchemaParameter="parameterSystem" OnSubmit="OnButtonEditSystemSubmit">
                    <div class="action-list">
                        <Button Status="StatusEnum.Success" Loading="IsLoadingUpdate" type="submit">
                            @TextService.Get(TextConstants.ButtonUpdate)
                        </Button>

                        <Button Status="StatusEnum.Error" Loading="IsLoadingUpdate" type="button" @onclick="OnButtonEditCancel">
                            @TextService.Get(TextConstants.ButtonCancel)
                        </Button>
                    </div>
                </FormSchemaParameterSystemUpdate>
                break;
        }
    }
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchema Schema { get; set; }

    [Parameter, EditorRequired]
    public EntitySchemaParameter SchemaParameter { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H3;

    private bool _isEditMode;

    private string Size => $"var(--size-text-{HeaderLevelCurrent.ToText()})";
    private string Link => $"/schema/{Schema.ID}/parameter/{SchemaParameter.ID}";
    private bool IsLoadingUpdate => StateSchemaParameter.Value.TryGetLoading(ScopeCurrent, FeatureSchemaParameterActionKind.Update, out bool value) && value;

    private void OnButtonEditClick()
    {
        _isEditMode = true;
    }

    private void OnButtonEditCancel()
    {
        _isEditMode = false;
    }

    private void OnButtonEditStyleSubmit(IWebFormContext<RequestSchemaParameterStyleUpdate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.UpdateStyleAction(ScopeCurrent, value.Model));
        _isEditMode = false;
    }

    private void OnButtonEditSystemSubmit(IWebFormContext<RequestSchemaParameterSystemUpdate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.UpdateSystemAction(ScopeCurrent, value.Model));
        _isEditMode = false;
    }

    private void OnButtonEditTextSubmit(IWebFormContext<RequestSchemaParameterTextUpdate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.UpdateTextAction(ScopeCurrent, value.Model));
        _isEditMode = false;
    }

    private void OnButtonDeleteClick()
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.DeleteAction(ScopeCurrent, new() { ID = SchemaParameter.ID }));
    }

    private void OnButtonCloneClick()
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.CloneAction(ScopeCurrent, new() { ID = SchemaParameter.ID }));
    }

}
