@inject IState<FeatureSchemaState> State
@inject IDispatcher Dispatcher
@inject TextParameterService TextParameterService
@inherits FluxorElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">Create new parameter</DynamicHTMLTag>

    <InputGroupSelect OptionList="_setType" DisplayName="@TextParameterService.Get(ParameterTextConstants.LabelFormParameterType)" Description="@TextParameterService.Get(ParameterTextConstants.HelpFormParameterType)"
                      Name="@nameof(_valueType)" @bind-Value="_valueType">
        <span>@TextParameterService.Get(context)</span>
    </InputGroupSelect>

    @switch (_valueType)
    {
        case ParameterTextConstants.LabelParameterStyle:
            <FormSchemaParameterStyleCreate SchemaID="SchemaID" OnSubmit="SubmitStyle">
                @SubmitAction()
            </FormSchemaParameterStyleCreate>
            break;
        case ParameterTextConstants.LabelParameterSystem:
            <FormSchemaParameterSystemCreate SchemaID="SchemaID" OnSubmit="SubmitSystem">
                @SubmitAction()
            </FormSchemaParameterSystemCreate>
            break;
        case ParameterTextConstants.LabelParameterText:
            <FormSchemaParameterTextCreate SchemaID="SchemaID" OnSubmit="SubmitText">
                @SubmitAction()
            </FormSchemaParameterTextCreate>
            break;
    }
</div>

@code {

    [Parameter, EditorRequired]
    public Guid SchemaID { get; set; }

    [Parameter]
    public string? Scope { get; set; }
    private string ScopeCurrent => Scope ?? GetComponentName();

    [Parameter]
    public HTMLHeaderLevelEnum? HeaderLevel { get; set; }
    private HTMLHeaderLevelEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderLevelEnum.H2;

    private string _valueType = ParameterTextConstants.LabelParameterStyle;

    private readonly HashSet<string> _setType =
    [
        ParameterTextConstants.LabelParameterStyle,
        ParameterTextConstants.LabelParameterSystem,
        ParameterTextConstants.LabelParameterText
    ];

    private bool IsLoading => State.Value.TryGetLoading(ScopeCurrent, FeatureSchemaActionKind.Add, out bool value) && value;

    private void SubmitStyle(IWebFormContext<RequestSchemaParameterStyleCreate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.AddStyleAction(ScopeCurrent, value.Model));
    }

    private void SubmitSystem(IWebFormContext<RequestSchemaParameterSystemCreate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.AddSystemAction(ScopeCurrent, value.Model));
    }

    private void SubmitText(IWebFormContext<RequestSchemaParameterTextCreate> value)
    {
        Dispatcher.Dispatch(new FeatureSchemaParameterReducers.AddTextAction(ScopeCurrent, value.Model));
    }

    private RenderFragment SubmitAction()
    {
        return
            @<ButtonList Alignment="ButtonListAlignmentEnum.Right">
                <Button Status="StatusEnum.Info" Loading="IsLoading" type="submit">
                    @TextParameterService.Get(ParameterTextConstants.ButtonCreate)
                </Button>
            </ButtonList>;
    }

}
