@inherits BaseRequestForm<RequestSchemaList, ResponseSchemaList>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaList" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Search))" Description="@GetDescription(nameof(Model.Search))"
                        @bind-Value="Model.Search"/>

        <InputGroupSelectSorting OptionSet="_sortOptionSet" Name="@nameof(Model.Sorting)" DisplayName="@GetDisplayName(nameof(Model.Sorting))" Description="@GetDescription(nameof(Model.Sorting))" @bind-Value="@Model.Sorting"/>

        <InputGroupSelect OptionList="_sortPageSize" Name="@nameof(Model.PageSize)" DisplayName="@GetDisplayName(nameof(Model.PageSize))" Description="@GetDescription(nameof(Model.PageSize))"
                          @bind-Value="Model.PageSize">
            @context
        </InputGroupSelect>

        @* <Pagination > *@
        @* *@
        @* </Pagination> *@

        @ChildContent
    </WebForm>
</div>

@code {

    private readonly Dictionary<string, string> _sortOptionSet = new()
    {
        { nameof(EntitySchema.ID), TextConstants.LabelID },
        { nameof(EntitySchema.Name), TextConstants.LabelName },
        { nameof(EntitySchema.TimeCreated), TextConstants.LabelTimeCreated },
        { nameof(EntitySchema.TimeActivated), TextConstants.LabelTimeActivated },
    };

    private readonly HashSet<int?> _sortPageSize =
    [
        10,
        25,
        50,
        100
    ];

    protected override WebFormContext<RequestSchemaList> CreateContext()
    {
        return new(new());
    }

}
