@inherits BaseRequestForm<RequestSchemaUpdate, ResponseSchemaUpdate>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm T="RequestSchemaUpdate" Context="Context" OnSubmit="ForwardSubmit">
        <InputGroupText DisplayName="@GetDisplayName(nameof(Model.Name))" Description="@GetDescription(nameof(Model.Name))" @bind-Value="Model.Name"/>

        <InputGroupTextArea DisplayName="@GetDisplayName(nameof(Model.Note))" Description="@GetDescription(nameof(Model.Note))" @bind-Value="Model.Note"/>

        @ChildContent
    </WebForm>
</div>

@code {

    [Parameter, EditorRequired]
    public EntitySchema Schema { get; set; }

    protected override WebFormContext<RequestSchemaUpdate> CreateContext()
    {
        return new(new() { ID = Schema.ID, Name = Schema.Name, Note = Schema.Note });
    }

}
